<!DOCTYPE html>
<html lang="en">
<head>
    <meta charuset="UTF-8">
    <title>Buscar Usuario</title>
</head>
<body>
<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
<nav>
<a href="/menu/">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu/">Inicio</a> >
    <a style="color: #ff6c29" href="/usuario">Usuarios</a> >
    <a style="color: #000;">Buscar Usuario</a>
</nav>
</header>
<h2 style="background-color:#B7F4F2">Buscar Usuario</h2>
<form method="POST" action="">
{% csrf_token %}
  <div class="form-group">
       <div class="col-lg-5">
  <input type="text" name="buscalo" class="form-control" placeholder="Ingrese el nombre o CI">
       </div>
       <label class="col-lg-2">
            <button type="submit" class="btn btn-danger">Buscar</button>
       </label>
  </div>
</form><br><br>
<div>
    {% if messages %}
        <ul class="messages">
            {% for k in messages %}
            <li style="color: red">{{ k }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</div><br>
    <div style="color: blue">

        {% if sr %}
            {% for k in sr %}
            <table border="0px" width="300px">
            <tr>
                <td>Usuario</td>
                <td>{{ k.user }}</td>
            </tr>
            <tr>
                <td>Nombre</td>
                <td>{{ k.user.first_name }}</td>
            </tr>
            <tr>
                <td>Apellido</td>
                <td>{{ k.user.last_name }}</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>{{ k.user.email }}</td>
            </tr>

            <tr>
                <td>CI</td>
                <td>{{ k.ci }}</td>
            </tr>
            <tr>
                <td>Telefono</td>
                <td>{{ k.telefono }}</td>
            </tr>
            <tr>
                <td>Direccion</td>
                <td>{{ k.direccion }}</td>
            </tr>
            <tr>
                <td>Descripcion</td>
                <td>{{ k.descripcion }}</td>
            </tr>
             <tr>
                <td>
                    <a class="btn btn-primary" href="{%url "update_usuario" k.user_id %}">Modificar</a>
                    <a class="btn btn-danger" href="{%url "delete_usuario" k.user_id %}">Eliminar</a>
                </td>
            </tr>


            </table>
        <hr>
            {% endfor %}
        {% endif %}
    </div>

<h2><a href="/usuario">Volver al menú de Usuario</a></h2>

</body>
</html>