<!DOCTYPE html>
<html lang="en">
<head>
    <meta charuset="UTF-8">
    <title>Bsqueda Usuario</title>
</head>
<body>
<h1>Buscar Usuario</h1>
<form method="POST" action="">
{% csrf_token %}
  <div class="form-group">
       <div class="col-lg-5">
  <input type="text" name="buscalo" class="form-control" placeholder="Ingrese el CI">
       </div>
       <label class="col-lg-2">
            <button type="submit" class="btn btn-danger">Buscar</button>
       </label>
  </div>
</form><br><br>
<div>
    {% if messages %}
        <ul class="messages">
            {% for k in messages %}
            <li style="color: red">{{ k }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</div><br>
    <div style="color: blue">

        {% if sr %}
            {% for k in sr %}
            <table border="0px" width="300px">
            <tr>
                <td>Nombre</td>
                <td>{{ k.nombre }}</td>
            </tr>
            <tr>
                <td>CI</td>
                <td>{{ k.ci }}</td>
            </tr>
            <tr>
                <td>Telefono</td>
                <td>{{ k.telefono }}</td>
            </tr>
            <tr>
                <td>Direccion</td>
                <td>{{ k.direccion }}</td>
            </tr>
            <tr>
                <td>Descripcion</td>
                <td>{{ k.descripcion }}</td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-primary" href="{%url "update_usuario" pk=k.pk %}">Modificar</a>
                    <a class="btn btn-danger" href="{%url "delete_usuario" k.pk %}">Eliminar</a>
                </td>
            </tr>
            </table>
        <hr>
            {% endfor %}
        {% endif %}
    </div>

<h2><a href="/usuario">Volver al menú de Usuario</a></h2>
</body>
</html>