{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}SGPA | Cambiar Contraseña{% endblock title %}

{% block content %}
<div class="jumbotron">
        
        <h1 align="center">Administracion de Usuario</h1>

        {% if super %}
    <nav>
<a href="/menu">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    {% endif %}
    <br>
    
<h2 style="">Cambiar Contraseña</h2>
<p>{{ user.get_full_name }}, ingrese su nueva contraseña, por favor</p>
<form method="POST">
{% csrf_token %}
  {{ form|crispy }}
  <button type="submit" name="passw" class="btn btn-success">Guardar cambios</button>

  <a href="/menu" class="btn btn-danger">Cancelar</a>

</form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
        
</div>
{% endblock content %}






















































<!--<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cambiar contraseña</title>
</head>
<body>
<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
{% if super %}
    <nav>
<a href="/menu">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    {% endif %}
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu">Inicio</a> >
    <a style="color: #000;">Cambiar Contraseña</a>
</nav>
</header>
<h2 style="background-color:#B7F4F2">Cambiar Contraseña</h2>
<p>{{ user.get_full_name }}, ingrese su nueva contraseña, por favor</p>
<form method="POST">
{% csrf_token %}
  {{ form.as_p }}
  <button type="submit" name="passw">Guardar cambios</button>
</form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</body>
</html>-->