{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}SGPA | Crear Usuarios{% endblock title %}

{% block content %}
<div class="jumbotron">
        
        <h1 align="center">Administración de Usuario</h1>

        <nav>
            <a href="/menu"><i class="fas fa-home"></i> Inicio</a> |
            <a href="/usuario"><i class="fas fa-users"></i> Usuarios</a> |
            <a href="/rol"><i class="fas fa-user-tag"></i> Roles</a> |
            <a href="/proyecto"><i class="fas fa-tasks"></i> Proyectos</a>
           
            </nav>
            <br>
  

       

           
            <!--Mensajes de error -->
            
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            
            <h2 class="text-danger">Crear Usuario</h2><br>
            <form method="post" action="">
                {% csrf_token %}
                {{ form|crispy}}
                {{ form1|crispy}}
                {{ form2|crispy}}
            <div class="text-right">
                <input class="btn btn-success ml-2" type="submit" value="Crear nueva cuenta de usuario" /> 
            </div>
            </form>

            <br>
            <h5 align="center"><i class="fas fa-arrow-alt-circle-left" ></i><a href="/usuario"> Volver al menú Usuario</a></h5>

        
</div>
{% endblock content %}









































<!--<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Crear Usuario</title>
</head>
<body>
<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
<nav>
<a href="/menu">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu">Inicio</a> >
    <a style="color: #ff6c29" href="/usuario">Usuarios</a> >
    <a style="color: #000;">Crear Usuario</a>
</nav>
</header>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h2 style="background-color:#B7F4F2">Crear Usuario</h2>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    {{ form1.as_p }}
    {{ form2.as_p }}
    <input type="submit" value="Crear nueva cuenta de usuario" />
</form>

<h2><a href="/usuario">Volver al menú de Usuario</a></h2>
</body>
</html>-->