{% extends 'base.html' %}



{% block title %}SGPA | Usuarios{% endblock title %}

{% block content %}
<div class="jumbotron">
        
        <h1 align="center">Administración de Usuarios</h1>

        <nav>
            <a href="/menu"><i class="fas fa-home"></i> Inicio</a> |
                <a href="/usuario"><i class="fas fa-users"></i> Usuarios</a> |
                <a href="/rol"><i class="fas fa-user-tag"></i> Roles</a> |
                <a href="/proyecto"><i class="fas fa-tasks"></i> Proyectos</a>
            </nav>
                <br>
                
            </nav>
            </header>
            
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <strong> <font color ="green"> <p{% if message.tags %} class="{{ message.tags }}"{% endif %}><i class="fas fa-check"></i> {{ message }}</font></p>
                {% endfor %}
            </ul>
            {% endif %}
            
            
            
            {#<button  type="submit" name="create" href="{% url 'update_usu %}">Crear Usuario</button>#}
            <h3><a href="{% url 'create_usuario' %}">Crear Usuario</a></h3><br>
            <!--<h3><a href="{% url 'buscar_username' %}">Buscar Usuario</a></h3>-->
            <form method="POST" action="">
            {% csrf_token %}
              <div class="form-group">
                   <div class="col-lg-5">
                       <label for="buscalo"><h3>Buscar Usuario</h3></label>
                        <input type="text" name="buscalo" class="form-control" placeholder="Ingrese el nombre o CI"><br>
                        <button type="submit" class="btn btn-success ml-2">Buscar</button>
                   </div>
              </div>
            </form><br><br>
            
            
            <table>
                <tbody>
                    {% if users %}
                        <td><strong>#</strong></td>
                        <td><strong>Usuarios Registrados</strong></td>
                        
                    {% for user in users%}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user }}</td>
                        <td>
                            <a class="btn btn-success ml-2" href="{%url 'update_usuario' pk=user.pk %}">Modificar</a>
                            <a class="btn btn-danger" href="{%url "delete_usuario" pk=user.pk %}">Eliminar</a>
                            <a class="btn btn-primary" href="{%url "list_usuario2" pk=user.pk %}">Visualizar</a>
            
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <h4>No hay usuarios</h4>
                    {% endif %}
                </tbody>
            </table>
            
            <br><br>
            
            <h5 align="center"><i class="fas fa-arrow-alt-circle-left" ></i><a href="/menu"> Volver al menú principal</a></h5>

        
</div>
{% endblock content %}









































































<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
</head>
<body>
<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
<nav>
<a href="/menu">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu">Inicio</a> >
    <a style="color: #000">Usuarios</a>
</nav>
</header>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h2 style="background-color:#B7F4F2">Administración de Usuarios</h2>

{#<button type="submit" name="create" href="{% url 'update_usu %}">Crear Usuario</button>#}
<h3><a href="{% url 'create_usuario' %}">Crear Usuario</a></h3>
--><!--<h3><a href="{% url 'buscar_username' %}">Buscar Usuario</a></h3>-->
<!--<form method="POST" action="">
{% csrf_token %}
  <div class="form-group">
       <div class="col-lg-5">
           <label for="buscalo"><h3>Buscar Usuario</h3></label>
            <input type="text" name="buscalo" class="form-control" placeholder="Ingrese el nombre o CI">
            <button type="submit" class="btn btn-danger">Buscar</button>
       </div>
  </div>
</form><br><br>


<table>
    <tbody>
        {% if users %}
            <td><strong>#</strong></td>
            <td><strong>Nombre</strong></td>
            <td><strong>Acciones</strong></td>
        {% for user in users%}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user }}</td>
            <td>
                <a class="btn btn-primary" href="{%url 'update_usuario' pk=user.pk %}">Modificar</a>
                <a class="btn btn-danger" href="{%url "delete_usuario" pk=user.pk %}">Eliminar</a>
                <a class="btn btn-danger" href="{%url "list_usuario2" pk=user.pk %}">Visualizar</a>

            </td>
        </tr>
        {% endfor %}
        {% else %}
        <h4>No hay usuarios</h4>
        {% endif %}
    </tbody>
</table>

<h3>-------------------------------------</h3>
<h3><a href="/menu">Volver al menú principal</a></h3>

</body>
</html>-->