{% extends 'base.html' %}

{% block title %}SGPA | Usuarios{% endblock title %}

{% block content %}
<div class="jumbotron">
        
        <h1 align="center">Administración de Usuario</h1>

        <nav>
            <a href="/menu"><i class="fas fa-home"></i> Inicio</a> |
            <a href="/usuario"><i class="fas fa-users"></i> Usuarios</a> |
            <a href="/rol"><i class="fas fa-user-tag"></i> Roles</a> |
            <a href="/proyecto"><i class="fas fa-tasks"></i> Proyectos</a>
            </nav>
                <br>
                
            
            <h2 style="">Visualizar Usuario</h2>
            <table>
                <tbody>
                    {% if users %}
                    {% for user in users%}
                    <tr>
                        <p><b>Nombre de Usuario:</b> {{ user.username }}</p>
                        <p><b>Cédula de Identidad:</b> {{ user.usuario.ci }}</p>
                        <p><b>Nombre:</b> {{ user.first_name }}</p>
                        <p><b>Apellido:</b> {{ user.last_name }}</p>
                        <p><b>Correo Electrónico:</b> {{ user.email }}</p>
                        <p><b>Descripción:</b> {{ user.usuario.descripcion }}</p>
                        <p><b>Dirección:</b> {{ user.usuario.direccion }}</p>
                        <p><b>Teléfono:</b> {{ user.usuario.telefono }}</p>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <h1>No hay roles</h1>
                    {% endif %}
                </tbody>
            </table>
            <br>
            <h5 align="center"><i class="fas fa-arrow-alt-circle-left" ></i><a href="/usuario"> Volver al menú Usuario</a></h5>
        
</div>
{% endblock content %}










































<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualizar Usuario</title>
</head>
<body>
<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
<nav>
<a href="/menu/">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu/">Inicio</a> >
    <a style="color: #ff6c29" href="/usuario">Usuario</a> >
    <a style="color: #000;">Visualizar Usuario</a>
</nav>
</header>
<h2 style="background-color:#B7F4F2">Visualizar Usuario</h2>
<table>
    <tbody>
        {% if users %}
        {% for user in users%}
        <tr>
            <p><b>Nombre de Usuario:</b> {{ user.username }}</p>
            <p><b>Cédula de Identidad:</b> {{ user.usuario.ci }}</p>
            <p><b>Nombre:</b> {{ user.first_name }}</p>
            <p><b>Apellido:</b> {{ user.last_name }}</p>
            <p><b>Correo Electrónico:</b> {{ user.email }}</p>
            <p><b>Descripción:</b> {{ user.usuario.descripcion }}</p>
            <p><b>Dirección:</b> {{ user.usuario.direccion }}</p>
            <p><b>Teléfono:</b> {{ user.usuario.telefono }}</p>
        </tr>
        {% endfor %}
        {% else %}
        <h1>No hay roles</h1>
        {% endif %}
    </tbody>
</table>
<h2><a href="/usuario">Volver al menú de Usuario</a></h2>
</body>
</html>-->