{% extends 'base.html' %}

{% block title %}SGPA | Ver Usuario{% endblock title %}

{% block content %}
<div class="jumbotron">
        
        <h1 align="center">Administracion de Usuario</h1>

        {% if super %}
    <nav>
<a href="/menu">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    {% endif %}
    <br>
    

<h2 style="">Visualizar Mis Datos</h2>
<p><b>Nombre de Usuario:</b> {{ user.username }}</p>
<p><b>Cédula de Identidad:</b> {{ user.usuario.ci }}</p>
<p><b>Nombre:</b> {{ user.first_name }}</p>
<p><b>Apellido:</b> {{ user.last_name }}</p>
<p><b>Correo Electrónico:</b> {{ user.email }}</p>
<p><b>Descripción:</b> {{ user.usuario.descripcion }}</p>
<p><b>Dirección:</b> {{ user.usuario.direccion }}</p>
<p><b>Teléfono:</b> {{ user.usuario.telefono }}</p>

<br>
<h5 align="center"><i class="fas fa-arrow-alt-circle-left" ></i><a href="/menu"> Volver al menú principal</a></h5>

        
</div>


{% endblock content %}









































<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualizar Usuario</title>
</head>
<body>
<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
{% if super %}
    <nav>
<a href="/menu">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    {% endif %}
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu">Inicio</a> >
    <a style="color: #000;">Visualizar Usuario</a>
</nav>
</header>

<h2 style="background-color:#B7F4F2">Visualizar Mis Datos</h2>
<p><b>Nombre de Usuario:</b> {{ user.username }}</p>
<p><b>Cédula de Identidad:</b> {{ user.usuario.ci }}</p>
<p><b>Nombre:</b> {{ user.first_name }}</p>
<p><b>Apellido:</b> {{ user.last_name }}</p>
<p><b>Correo Electrónico:</b> {{ user.email }}</p>
<p><b>Descripción:</b> {{ user.usuario.descripcion }}</p>
<p><b>Dirección:</b> {{ user.usuario.direccion }}</p>
<p><b>Teléfono:</b> {{ user.usuario.telefono }}</p>

</body>
</html>-->