<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modificar Team Member</title>
</head>
<body>
<h1>Modificar Team Member</h1>
<form method="POST">
{% csrf_token %}
  {{ form.as_p }}
  <button type="submit" name="save">Guardar cambios</button>
    <button type="submit" name="eliminar">Eliminar team member</button>
</form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</body>
</html>