<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team</title>
</head>
<body>

<h1>Menú de Teams y TeamMembers</h1>
<h2>Lista de Teams</h2>
{% for team in teams %}
    <div>
        <p><a href="{% url 'update_team' pk=team.pk %}">{{ team }}</a><p/>
    </div>
{% endfor %}
<p><a href="/team/create_team">Crear Teams</a></p>
<h1>-----------------------</h1>
<h2>Lista de Team Members</h2>
{% for teammember in teammembers %}
    <div>
        <p><a href="{% url 'update_team_member' pk=teammember.pk %}">{{ teammember }}</a><p/>
    </div>
{% endfor %}
<p><a href="/team/create"> Crear Team Members</a></p>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h1>---------------------------</h1>
<h3><a href="/menu/admin">Volver al menú principal</a></h3>
</body>
</html>