{% load static %}


<head>
    <link href="{% static 'css/dist/css/bootstrap.min.css'  %}" rel="stylesheet">
    <link href="{% static 'css/cover.css'  %}" rel="stylesheet">
</head>

<body class="text-center">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
        <!--
      <h3 class="masthead-brand">IS2</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
      -->
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">SOFTWARE DE GESTION DE PROYECTOS AGILES</h1>
    <p class="lead">
        Bienvenidos, este software forma parte del
        proyecto de Ingenieria en Software II
        para la carrera de Ingenieria Informática</p>
    <p class="lead">
      <a href="/home"  class="btn btn-lg btn-secondary">Iniciar Sesión</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Universidad Nacional de Asunción - Facultad Politecnica</p>
    </div>
  </footer>
</div>
