{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}<div class="breadcrumbs"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></div>{% endblock %}

{% block content %}

<p>{% trans "Gracias por pasar un poco de tiempo de calidad en el sitio web hoy." %}</p>

<p><a href="{% url 'admin:index' %}">{% trans 'Inicie Sesión de nuevo' %}</a></p>

{% endblock %}