{% extends 'base.html' %}

{% block title %}¿Olvidó su contraseña?{% endblock title %}

{% block content %}
<h1>¿Olvidó su contraseña?</h1>
<p>Ingrese su dirección de correo electrónico a continuación, y le enviaremos instrucciones para configurar una nueva.</p>

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input class="btn btn-success" type="submit" value="¡Envíame las instrucciones!">
</form>
{% endblock content %}