{% extends 'base.html' %}

{% block title %}Introduzca la nueva contraseña{% endblock title %}

{% block content %}
<h1>Establecer una nueva contraseña!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input class="btn btn-success" type="submit" value="Cambiar mi contraseña">
</form>
{% endblock content %}