{% extends 'base.html' %}

{% block title %}Email Sent{% endblock title %}

{% block content %}
  <h1>Revisa tu bandeja de entrada.</h1>
  <p>Le hemos enviado por correo electrónico las instrucciones para configurar su contraseña. Deberías recibir el correo electrónico en breve!</p>
{% endblock content %}