{% extends 'base.html' %}

{% block title%} Restablecimiento de contraseña completado {% endblock title%}

{% block content %}
<h1>Restablecimiento de contraseña completado</h1>
<p>Tu nueva contraseña ha sido establecida. Puede iniciar sesión ahora en <a href=\
"{% url 'login' %}">log in page</a>.</p>
{% endblock content %}