{% extends 'base.html' %}
{% block title %}SGPA | Log In{% endblock title %}

{% block content %}
<div class="jumbotron">
<h2 align="center ">Bienvenido!</h2>
<!--<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success ml-2" type="submit">Log In</button>
</form>-->
{% if form.errors %}
<p><strong><font color="red"><i class="fas fa-exclamation-circle"></i>  Su nombre de usuario y contraseña son incorrectos. Vuelva a intentarlo.</font></strong></p>
{% endif %}

  <form method="post"> {% csrf_token %}
      <div class="form-group">
        <label for="username">Nombre de Usuario</label>
        <input type="text"  class="form-control" name="username" id="username" size="40" placeholder="Nombre de Usuario" required >
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>     <a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a>
        <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña" required>
        
      </div>
      <button class="btn btn-success ml-2" type="submit">Ingresar</button>
  </form>

      {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
</div>
{% endif %}


{% endblock content %}