<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmado</title>
</head>
<body>
<h1>Confirmado</h1>

<p><a href="{% url 'rol_crear2' %}">Crear nuevo Rol</a></p>

<a href=""  onclick="window.close();">Cerrar</a>

</body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</html>
