{% extends 'base.html' %}

{% block title %}SGPA | Roles{% endblock title %}

{% block content %}
<div class="jumbotron">
        
        <h1 align="center">Administración de Roles</h1>

        <nav>
            <a href="/menu"><i class="fas fa-home"></i> Inicio</a> |
            <a href="/usuario"><i class="fas fa-users"></i> Usuarios</a> |
            <a href="/rol"><i class="fas fa-user-tag"></i> Roles</a> |
            <a href="/proyecto"><i class="fas fa-tasks"></i> Proyectos</a>
            </nav>
                <br>
            
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <strong> <font color ="green"><p{% if message.tags %} class="{{ message.tags }}"{% endif %}> <i class="fas fa-check"></i> {{ message }}</font></p>
                {% endfor %}
            </ul>
            {% endif %}
            

            <h3><a href="{% url 'rol_crear' %}">Crear Rol</a></h3>

            
            <table>
                <tbody>
                    {% if roles %}
                         <h3>Listado de Roles</h3>
                        <td><strong>[  ID  ]</strong></td>
                        <td><strong>[  Roles Registrados  ]</strong></td>
                        
                    {% for rol in roles%}
                    <tr>
                        <td>{{ rol.id }}</td>
                        <td>{{ rol.nombre }}</td>
                        <td>
                            <a class="btn btn-success ml-2" href="{%url "update_rol" rol.id %}">Modificar</a>
                            <a class="btn btn-danger" href="{%url "rol_eliminar" rol.id %}">Eliminar</a>
                            <a class="btn btn-primary" href="{%url "list_rol" rol.id %}">Visualizar</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                        <h4>No hay roles</h4>
                    {% endif %}
                </tbody>
            </table>
            
            
           <br><br>
           <h5 align="center"><i class="fas fa-arrow-alt-circle-left" ></i><a href="/menu"> Volver al menú principal</a></h5>
        
</div>
{% endblock content %}
































































<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roles</title>
</head>
<body>
<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
<nav>
<a href="/menu">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu">Inicio</a> >
    <a style="color: #000;">Roles</a>
</nav>
</header>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<h2 style="background-color:#B7F4F2">Administración de Roles</h2>
<h3><a href="{% url 'rol_crear' %}">Crear Rol</a></h3>

<form method="POST" action="">
{% csrf_token %}
  <div class="form-group">
       <div class="col-lg-5">
           <label for="buscalo"><h3>Buscar Rol</h3></label>
           <input type="text" name="buscalo" class="form-control" placeholder="Ingrese el nombre">
           <button type="submit" class="btn btn-danger">Buscar</button>
       </div>
  </div>
</form><br><br>

<table>
    <tbody>
        {% if roles %}
            <td><strong>#</strong></td>
            <td><strong>Nombre</strong></td>
            <td><strong>Acciones</strong></td>
        {% for rol in roles%}
        <tr>
            <td>{{ rol.id }}</td>
            <td>{{ rol.nombre }}</td>
            <td>
                <a class="btn btn-primary" href="{%url "update_rol" rol.id %}">Modificar</a>
                <a class="btn btn-danger" href="{%url "rol_eliminar" rol.id %}">Eliminar</a>
                <a class="btn btn-danger" href="{%url "list_rol" rol.id %}">Visualizar</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
            <h4>No hay roles</h4>
        {% endif %}
    </tbody>
</table>


<h3>-------------------------------------</h3>
<h3><a href="/menu">Volver al menú principal</a></h3>

</body>
</html>-->