
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listar Roles</title>
</head>
<body>
<table>
    <thead>
        <tr>
             <td>#</td>
            <td>Nombre</td>
            <td>Descripcion</td>
            <td>Permiso</td>
            <td>Acciones</td>
        </tr>
    </thead>
    <tbody>
        {% if roles %}
        {% for rol in roles%}
        <tr>
            <td>{{ rol.id }}</td>
            <td>{{ rol.nombre }}</td>
            <td>{{ rol.descripcion }}</td>
            <td>
                <u1>
                     {% for permiso in rol.permiso.all %}
                         <li>{{ permiso.nombre }}</li>
                     {% endfor %}
                </u1>

            </td>
            <td>
                <a class="btn btn-primary" href="{%url "rol_modificar" rol.id %}">Modificar</a>
                <a class="btn btn-danger" href="{%url "rol_eliminar" rol.id %}">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <h1>No hay roles</h1>
        {% endif %}
    </tbody>
</table>
</body>
</html>