<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roles</title>
</head>
<body>
<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
<nav>
<a href="/menu">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu">Inicio</a> >
        <a style="color: #ff6c29" href="/rol">Roles</a> >
    <a style="color: #000;">Modificar Rol</a>
</nav>
</header>
<h2 style="background-color:#B7F4F2">Modificar Rol</h2>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit">Guardar cambios</button>
</form>

<h2><a href="/rol">Volver al menú de Rol</a></h2>
</body>
</html>