<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Rol</title>
</head>
<body>

<h2 style="background-color:#B7F4F2">Crear Rol</h2>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p}}
    {{ form.permiso.errors }}
    <button type="submit">Crear un nuevo Rol</button>
</form>

<div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>

<script>
    window.onunload = refreshParent;
    function refreshParent() {
        window.opener.location.reload();
    }
</script>

</body>
</html>
