{% extends 'base.html' %}

{% block title %}SGPA | Roles{% endblock title %}

{% block content %}
<div class="jumbotron">
        
        <h1 align="center">Administración de Roles</h1>

        <nav>
            <a href="/menu"><i class="fas fa-home"></i> Inicio</a> |
            <a href="/usuario"><i class="fas fa-users"></i> Usuarios</a> |
            <a href="/rol"><i class="fas fa-user-tag"></i> Roles</a> |
            <a href="/proyecto"><i class="fas fa-tasks"></i> Proyectos</a>
            </nav>
                <br>
                
            <h2 style="background-color:white">Eliminar Rol</h2>
            <form method="post" action="">
                {% csrf_token %}
                <h3>Desea eliminar el registro de {{ rol.nombre }} ?</h3>
                <button class="btn btn-success ml-2" type="submit">Eliminar</button>
                <a class="btn btn-danger" href="/rol" title="Ir la página anterior">Cancelar</a>
            </form>
        
</div>
{% endblock content %}



















































<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Rol</title>
</head>
<body>
<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
<nav>
<a href="/menu">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu">Inicio</a> >
        <a style="color: #ff6c29" href="/rol">Roles</a> >
    <a style="color: #000;">Eliminar Rol</a>
</nav>
</header>
<h2 style="background-color:#B7F4F2">Eliminar Rol</h2>
<form method="post" action="">
    {% csrf_token %}
    <h3>Desea eliminar el registro de {{ rol.nombre }} ?</h3>
    <button class="btm btn-danger" type="submit">Si, eliminar</button>
    <a href="/rol" title="Ir la página anterior">No, volver a la Pagina Anterior</a>
</form>
</body>
</html>-->