{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}SGPA | Roles{% endblock title %}

{% block content %}
<div class="jumbotron">
        
        <h1 align="center">Administración de Roles</h1>

        <nav>
            <a href="/menu"><i class="fas fa-home"></i> Inicio</a> |
            <a href="/usuario"><i class="fas fa-users"></i> Usuarios</a> |
            <a href="/rol"><i class="fas fa-user-tag"></i> Roles</a> |
            <a href="/proyecto"><i class="fas fa-tasks"></i> Proyectos</a>
            </nav>
                <br>
                
            <h2 style="">Crear Rol</h2> <br>
            <form method="post" action="">
                {% csrf_token %}
                {{ form|crispy}}
                {{ form.permiso.errors }}
                <button class="btn btn-success ml-2" type="submit">Crear un nuevo Rol</button>
            </form>
            <br><br>
            <h5 align="center"><i class="fas fa-arrow-alt-circle-left" ></i><a href="/rol"> Volver al menú de Rol</a></h5>

        
</div>
{% endblock content %}


































<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Rol</title>
</head>
<body>
<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
<nav>
<a href="/menu">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu">Inicio</a> >
        <a style="color: #ff6c29" href="/rol">Roles</a> >
    <a style="color: #000;">Crear Rol</a>
</nav>
</header>
<h2 style="background-color:#B7F4F2">Crear Rol</h2>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p}}
    {{ form.permiso.errors }}
    <button type="submit">Crear un nuevo Rol</button>
</form>

<h2><a href="/rol">Volver al menú de Rol</a></h2>
</body>
</html>-->