<!DOCTYPE html>
<html lang="en">
<head>
    <meta charuset="UTF-8">
    <title>Búsqueda Rol</title>
</head>
<body>
<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
<nav>
<a href="/menu">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu">Inicio</a> >
        <a style="color: #ff6c29" href="/rol">Roles</a> >
    <a style="color: #000;">Buscar Rol</a>
</nav>
</header>
<h2 style="background-color:#B7F4F2">Buscar Rol</h2>
<form method="POST" action="">
{% csrf_token %}
  <div class="form-group">
       <div class="col-lg-5">
  <input type="text" name="buscalo" class="form-control" placeholder="Ingrese el nombre">
       </div>
       <label class="col-lg-2">
            <button type="submit" class="btn btn-danger">Buscar</button>
       </label>
  </div>
</form><br><br>
<div>
    {% if messages %}
        <ul class="messages">
            {% for k in messages %}
            <li style="color: red">{{ k }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</div><br>
    <div style="color: blue">

        {% if sr %}
            {% for k in sr %}
            <table border="0px" width="300px">
            <tr>
                <td>Nombre</td>
                <td>{{ k.nombre }}</td>
            </tr>
                <td>Descripcion</td>
                <td>{{ k.descripcion }}</td>
            </tr>
                <td>Permiso</td>
            <td>
                <u1>
                     {% for permiso in k.permiso.all %}
                         <li>{{ permiso.nombre }}</li>
                     {% endfor %}
                </u1>
            </td>
            <tr>
                <td>
                    <a class="btn btn-primary" href="{%url "update_rol" k.id %}">Modificar</a>
                    <a class="btn btn-danger" href="{%url "rol_eliminar" k.id %}">Eliminar</a>
                </td>
            </tr>

            </table>
        <hr>
            {% endfor %}
        {% endif %}
    </div>
<h2><a href="/rol">Volver al menú de Rol</a></h2>
</body>
</html>