{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}SGPA | Roles{% endblock title %}

{% block content %}
<div class="jumbotron">
        
        <h1 align="center">Administración de Roles</h1>
        <nav>
            <a href="/menu"><i class="fas fa-home"></i> Inicio</a> |
            <a href="/usuario"><i class="fas fa-users"></i> Usuarios</a> |
            <a href="/rol"><i class="fas fa-user-tag"></i> Roles</a> |
            <a href="/proyecto"><i class="fas fa-tasks"></i> Proyectos</a>
            </nav>
                <br>
                
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <h2 style="">Modificar Rol</h2><br>
            <form method="POST">
            {% csrf_token %}
              {{ rol_form|crispy }}
              <button class="btn btn-success ml-2" type="submit" name="save" >Guardar cambios</button>
            </form>
            <br><br>
            <h5 align="center"><i class="fas fa-arrow-alt-circle-left" ></i><a href="/rol"> Volver al menú de Rol</a></h5>

</div>
{% endblock content %}

















































<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roles</title>
</head>
<body>
<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
<nav>
<a href="/menu">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu">Inicio</a> >
        <a style="color: #ff6c29" href="/rol">Roles</a> >
    <a style="color: #000;">Modificar Rol</a>
</nav>
</header>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<h2 style="background-color:#B7F4F2">Modificar Rol</h2>
<form method="POST">
{% csrf_token %}
  {{ rol_form.as_p }}
  <button type="submit" name="save">Guardar cambios</button>
</form>
<h2><a href="/rol">Volver al menú de Rol</a></h2>
</body>
</html>-->