

{% extends 'base.html' %}

{% block title %}SGPA | Roles {% endblock title %}

{% block content %}
<div class="jumbotron">
        
        <h1 align="center">Administración de Roles</h1>

        <nav>
            <a href="/menu"><i class="fas fa-home"></i> Inicio</a> |
            <a href="/usuario"><i class="fas fa-users"></i> Usuarios</a> |
            <a href="/rol"><i class="fas fa-user-tag"></i> Roles</a> |
            <a href="/proyecto"><i class="fas fa-tasks"></i> Proyectos</a>
            </nav>
                <br>
                
            <h2 style="">Visualizar Rol</h2>
            <table>
                <tbody>
                    {% if roles %}
                    {% for rol in roles.all%}
                    <tr>
                        <p><b>Nombre del Rol:</b> {{ rol.nombre }}</p>
                        <p style="max-width: 700px"><b>Descripción:</b> {{ rol.descripcion }}</p>
                        <td>
                            <u1>
                                 <p><b>Permisos:</b></p>
                                 {% for permiso in rol.permiso.all %}
                                     <li style="margin-left: 10px">{{ permiso.nombre }}</li>
                                 {% endfor %}
                            </u1>
            
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <h1>No hay roles</h1>
                    {% endif %}
                </tbody>
            </table>

            <br><br>
            <h5 align="center"><i class="fas fa-arrow-alt-circle-left" ></i><a href="/rol"> Volver al menú de Rol</a></h5>
        
</div>
{% endblock content %}




































































<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualizar Rol</title>
</head>
<body>
<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
<nav>
<a href="/menu">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu">Inicio</a> >
        <a style="color: #ff6c29" href="/rol">Roles</a> >
    <a style="color: #000;">Visualizar Rol</a>
</nav>
</header>
<h2 style="background-color:#B7F4F2">Visualizar Rol</h2>
<table>
    <tbody>
        {% if roles %}
        {% for rol in roles.all%}
        <tr>
            <p><b>Nombre del Rol:</b> {{ rol.nombre }}</p>
            <p style="max-width: 700px"><b>Descripción:</b> {{ rol.descripcion }}</p>
            <td>
                <u1>
                     <p><b>Permisos:</b></p>
                     {% for permiso in rol.permiso.all %}
                         <li style="margin-left: 10px">{{ permiso.nombre }}</li>
                     {% endfor %}
                </u1>

            </td>
        </tr>
        {% endfor %}
        {% else %}
        <h1>No hay roles</h1>
        {% endif %}
    </tbody>
</table>
<h2><a href="/rol">Volver al menú de Rol</a></h2>
</body>
</html>-->