{% extends 'base.html' %}
{% block title %}Activar Proyecto{% endblock title %}

{% block content %}
<div class="jumbotron">

        <h1 align="center">Administracion de Proyecto</h1>
        <nav>

        <nav>
                <a href="/menu/"><i class="fas fa-home"></i> Inicio</a> |
                    <a href="/usuario"><i class="fas fa-users"> </i> Usuarios</a> |
                    <a href="/rol"><i class="fas fa-user-tag"></i> Roles</a> |
                    <a href="/proyecto"><i class="fas fa-tasks"></i> Proyectos</a>
                </nav>
                    <br>
                    <nav style="background-color:  color: #ff6c29">
                <a style="color: #ff6c29" href="/menu/">Inicio</a> >
                    <a style="color: #ff6c29" href="/proyecto/trabajo/{{ proyecto.id }}">{{ proyecto }}</a> >
                    <a style="color: #000;">Activar Proyecto</a>
                </nav>
                </header>
                <h2 align="center" class="text-info">Activar Proyecto: {{ proyecto }}</h2>
                <form method="post" action="">
                    {% csrf_token %}
                    <h5 align="center">¿Desea activar el proyecto "{{ proyecto.nombre }}"?</h5>
                    <br></br>
                    <div class="text-center">
                    <button class="btn btn-success" type="submit">Activar</button>
                    <a class="btn btn-danger" href="/proyecto/trabajo/{{ proyecto.id }}" title="Ir la página anterior">No, volver al Proyecto</a>
                    </div>
                </form>


</div>



{% endblock content %}