{% extends 'base.html' %}
{% block title %}SGPA | BurndownChart{% endblock title %}

{% block content %}
<div class="jumbotron">

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.min.js"></script>
  
      <div id="chart_div" align="center"></div>
    <div align="center"> 
      <br>
      <input  class="btn btn-info" id="save-pdf" type="button" value="Guardar como PDF" disabled />
      <a  class="btn btn-danger" href="/proyecto/elegirburndown/{{ sprint.proyecto.id }}">Volver</a>
    </div>

    <!-- Generar grafico-->

  <script>
  google.charts.load('current', {packages: ['corechart', 'line'], 'language': 'es'});
  google.charts.setOnLoadCallback(drawCurveTypes);
  
  function drawCurveTypes() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'X');
        data.addColumn('number', 'Real');
        data.addColumn('number','Ideal');
  
  
        data.addRows([
            {% load indice %}
            {% for hora in horas %}
                {% index fechas forloop.counter0 as fecha %}
            //[new Date(2018, 5,4), 100, ,],    [new Date(2018, 5,5), 89, ,],   [new Date(2018, 5,6), 70, ,],  [new Date(2018, 5,7), 60, ,],   [new Date(2018, 5,8), 45, ,],  [new Date(2018, 5,9), 0, ,],
            [new Date({{ fecha.year }}, {{ fecha.month|add:"-1" }},{{ fecha.day }}),{{ hora }}, ,],
            {% endfor %}
        ]);
  
        data.addRows([
          [new Date({{ fecha_inicio.year }}, {{ fecha_inicio.month|add:"-1" }},{{ fecha_inicio.day }}), , {{ cant_horas }}], [new Date({{ fecha_fin.year }}, {{ fecha_fin.month|add:"-1" }},{{ fecha_fin.day }}), , 0],
        ]);
  
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
  
        var container = document.getElementById('chart_div');
    var chart = new google.visualization.LineChart(container);
    var btnSave = document.getElementById('save-pdf');
  
    google.visualization.events.addListener(chart, 'ready', function () {
      btnSave.disabled = false;
    });
  
    btnSave.addEventListener('click', function () {
      var doc = new jsPDF();
      doc.text(20, 10, 'SGPA (Sistema de Gestion de Proyectos Agiles)');
      doc.addImage(chart.getImageURI(), 10, 21);
      doc.save('burndownchart.pdf');
    }, false);
  
    chart.draw(data, {
      chartArea: {
        bottom: 90,
        left: 56,
        right: 100,
        top: 48,
        width: '100%',
        height: '100%',
        
      },
      height: 500,
      title: 'BurnDown Chart del proyecto {{ sprint.proyecto }} del sprint iniciado el {{ sprint.fecha_ini }}',
      width: 740,
      hAxis: {title: 'Días Planificados'},
      vAxis: {title: 'Capacidad de Horas'},
      
      
    });
      }
  </script>
  


</div>
{% endblock content %}