{% extends 'base.html' %}

{% block title %}SGPA | Search Project{% endblock title %}

{% block content %}
<div class="jumbotron">
        
        <h1 align="center">Administracion de Proyecto</h1>

        <nav>
            <a href="/menu"><i class="fas fa-home"></i> Inicio</a> |
            <a href="/usuario"><i class="fas fa-users"></i> Usuarios</a> |
            <a href="/rol"><i class="fas fa-user-tag"></i> Roles</a> |
            <a href="/proyecto"><i class="fas fa-tasks"></i> Proyectos</a>
            </nav>
                <br>

            
            <h2 style="">Buscar Proyecto</h2>
            <form method="POST" action="">
            {% csrf_token %}
              <div class="form-group">
                   <div class="col-lg-5">
              <input type="text" name="buscalo" class="form-control" placeholder="Ingrese el nombre" >
                   </div>
                   <label class="col-lg-2">
                        <button type="submit" class="btn btn-success">Buscar</button>
                   </label>
              </div>
            </form><br><br>
            <div>
                {% if messages %}
                    <ul class="messages">
                        {% for k in messages %}
                        <p style="color: red"><i class="fas fa-exclamation-circle"></i> {{ k }}</p>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div><br>
            
            
            
                <div style="color: blue">
            
                    {% if sr %}
                        {% for k in sr %}
                        <table border="0px" width="300px">
                        <tr>
                            <td>Nombre</td>
                            <td>{{ k.nombre }}</td>
                        </tr>
                        <tr>
                            <td>Fecha de Inicio</td>
                            <td>{{ k.fecha_ini }}</td>
                        </tr>
                        <tr>
                            <td>Fecha de Finalizacion</td>
                            <td>{{ k.fecha_fin }}</td>
                        </tr>
                        <tr>
                            <td>Observaciones</td>
                            <td>{{ k.observaciones }}</td>
                        </tr>
                        <tr>
                            <td>Estado</td>
                            <td>{{ k.estado }}</td>
                        </tr>
                        <tr>
                            <td>
                                <a class="btn btn-success" href="{%url "update_proyecto" k.id %}">Modificar</a>
                                <a class="btn btn-danger" href="{%url "inactivar_proyecto" k.id %}">Inactivar</a>
                            </td>
                        </tr>
                        </table>
                    <hr>
                        {% endfor %}
                    {% endif %}
                </div>
                <h5 align="center"><i class="fas fa-arrow-alt-circle-left" ></i><a href="/proyecto"> Volver al menú de Proyecto</a></h5>

            
       
</div>
{% endblock content %}
























<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Busqueda Proyecto</title>
</head>
<body>
<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
<nav>
<a href="/menu/">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu/">Inicio</a> >
    <a style="color: #ff6c29" href="/proyecto">Proyecto</a> >
    <a style="color: #000;">Buscar Proyecto</a>
</nav>
</header>
<h2 style="background-color:#B7F4F2">Buscar Proyecto</h2>
<form method="POST" action="">
{% csrf_token %}
  <div class="form-group">
       <div class="col-lg-5">
  <input type="text" name="buscalo" class="form-control" placeholder="Ingrese el nombre" >
       </div>
       <label class="col-lg-2">
            <button type="submit" class="btn btn-danger">Buscar</button>
       </label>
  </div>
</form><br><br>
<div>
    {% if messages %}
        <ul class="messages">
            {% for k in messages %}
            <li style="color: red">{{ k }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</div><br>



    <div style="color: blue">

        {% if sr %}
            {% for k in sr %}
            <table border="0px" width="300px">
            <tr>
                <td>Nombre</td>
                <td>{{ k.nombre }}</td>
            </tr>
            <tr>
                <td>Fecha de Inicio</td>
                <td>{{ k.fecha_ini }}</td>
            </tr>
            <tr>
                <td>Fecha de Finalizacion</td>
                <td>{{ k.fecha_fin }}</td>
            </tr>
            <tr>
                <td>Observaciones</td>
                <td>{{ k.observaciones }}</td>
            </tr>
            <tr>
                <td>Estado</td>
                <td>{{ k.estado }}</td>
            </tr>
            <tr>
                <td>
                    <a class="btn btn-primary" href="{%url "update_proyecto" k.id %}">Modificar</a>
                    <a class="btn btn-danger" href="{%url "inactivar_proyecto" k.id %}">Inactivar</a>
                </td>
            </tr>
            </table>
        <hr>
            {% endfor %}
        {% endif %}
    </div>

<h2><a href="/proyecto">Volver al menú de Proyecto</a></h2>
</body>
</html>-->