{% extends 'base.html' %}
{% block title %}SGPA | Cancelar Proyecto{% endblock title %}

{% block content %}
<div class="jumbotron">
        <h1 align="center">Administracion de Proyecto</h1>
        <br>
    
    <a style="color: #ff6c29" href="/menu/">Inicio</a> >
    <a style="color: #ff6c29" href="/proyecto/trabajo/{{ proyecto.id }}">{{ proyecto }}</a> >
    <a style="color: #000;">Cancelar Proyecto</a>

    <h2>Cancelar Proyecto: <i>{{ proyecto }}</i></h2>
<form method="post" action="">
    {% csrf_token %}
    
    <div class="text-center">
            <h3>¿Desea cancelar el proyecto "{{ proyecto.nombre }}"?</h3><br>

            <button class="btn btn-success"  type="submit">Cancelar Proyecto</button>
            <a class="btn btn-danger" href="/proyecto/trabajo/{{ proyecto.id }}" title="Ir la página anterior">Volver a Proyecto</a>

    </div>

</form>





</div>

{% endblock content %}



















<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cancelar Proyecto</title>
</head>
<body>

<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
<nav>
<a href="/menu/">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu/">Inicio</a> >
    <a style="color: #ff6c29" href="/proyecto/trabajo/{{ proyecto.id }}">{{ proyecto }}</a> >
    <a style="color: #000;">Cancelar Proyecto</a>
</nav>
</header>
<h2 style="background-color:#B7F4F2">Cancelar Proyecto: <i>{{ proyecto }}</i></h2>
<form method="post" action="">
    {% csrf_token %}
    <h3>¿Desea cancelar el proyecto "{{ proyecto.nombre }}"?</h3>
    <button class="btm btn-danger" style="font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;" type="submit">Si, Cancelar</button>

    <a style="font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;" href="/proyecto/trabajo/{{ proyecto.id }}" title="Ir la página anterior">No, volver al Proyecto</a>
</form>
</body>
</html>

</body>
</html>-->