{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}SGPA | Crear Proyecto{% endblock title %}

{% block content %}
<div class="jumbotron">
        
        <h1 align="center">Administracion de Proyecto</h1>
      
        <nav>
                <a href="/menu"><i class="fas fa-home"></i> Inicio</a> |
                    <a href="/usuario"><i class="fas fa-users"></i> Usuarios</a> |
                    <a href="/rol"><i class="fas fa-user-tag"></i> Roles</a> |
                    <a href="/proyecto"><i class="fas fa-tasks"></i> Proyectos</a>
                </nav>
                <br> 
    
    


<div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>

<h2 style="">Crear Proyecto</h2>
<form method="post" action="">
    {% csrf_token %}
    {{ form|crispy}}
    

{% comment %}
<a href=""  onclick="window.open('{% url 'rol_crear2' %}','{{title}}','height=500,width=500');">
<h4>Crear nuevo Rol</h4>
</a>{% endcomment %}


{#<p>Team Members:</p>#}
<p>Scrum Master:</p>
<div style="margin-left: 20px; margin-bottom: 20px">
    {% for user in users%}
        <span title="Nombre Completo: {{ user.first_name }} {{ user.last_name }}
Correo Electrónico: {{ user.email }}
Cédula de Identidad: {{ user.usuario.ci }}
Teléfono: {{ user.usuario.telefono }}
Dirección: {{ user.usuario.direccion }}
Descripción: {{ user.usuario.descripcion }}">
        <input type="radio" checked name="checks[]" value="{{ user.id }}">{{ user }}
        </span><br><br>
        {% comment %}<div style="width: auto; overflow: auto; max-height: 150px; border-style: outset; border-width: 1px; margin: 15px">

       <!-- <div style="border-style: outset; border-width: 1px;">-->
          <!--  <input type="checkbox" name="checks[]" value="{{ user.id }}">{{ user.id }} {{ user }}<br>-->
            {% for rol in rols%}
                <span title="Permisos: {{ rol.get_permisos }}">
                    <input type="radio" name="roles{{ user.id }}[]" value="{{ rol.id }}">ID: {{ rol.id }} - NOMBRE: {{ rol }} - DESCRIPCION: {{ rol.descripcion }}
                </span><br><br>
            {% endfor %}

        </div>{% endcomment %}
    {% endfor %}
</div>
    <button  class="btn btn-success" type="submit">Crear nuevo Proyecto</button>
   <!-- <input class="btn btn-success" type="submit" value="Crear un nuevo Proyecto" />-->
   
    <a  class="btn btn-danger" href="/proyecto">Cancelar</a>
</form>

        
</div>
{% endblock content %}































<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Proyecto</title>
</head>
<body>
<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
<nav>
<a href="/menu/">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu/">Inicio</a> >
    <a style="color: #ff6c29" href="/proyecto">Proyectos</a> >
    <a style="color: #000;">Crear Proyecto</a>
</nav>
</header>

<div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>

<h2 style="background-color:#B7F4F2">Crear Proyecto</h2>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}

{% comment %}<a href=""  onclick="window.open('{% url 'rol_crear2' %}','{{title}}','height=500,width=500');"
><h4>Crear nuevo Rol</h4></a>{% endcomment %}


{#<p>Team Members:</p>#}
<p>Scrum Master:</p>
<div style="margin-left: 20px; margin-bottom: 20px">
    {% for user in users%}
        <span title="Nombre Completo: {{ user.first_name }} {{ user.last_name }}
Correo Electrónico: {{ user.email }}
Cédula de Identidad: {{ user.usuario.ci }}
Teléfono: {{ user.usuario.telefono }}
Dirección: {{ user.usuario.direccion }}
Descripción: {{ user.usuario.descripcion }}">
        <input type="radio" checked name="checks[]" value="{{ user.id }}">{{ user }}
        </span><br><br>
        {% comment %}<div style="width: auto; overflow: auto; max-height: 150px; border-style: outset; border-width: 1px; margin: 15px">

     -->  <!-- <div style="border-style: outset; border-width: 1px;">-->
          <!--  <input type="checkbox" name="checks[]" value="{{ user.id }}">{{ user.id }} {{ user }}<br>-->
         <!--   {% for rol in rols%}
                <span title="Permisos: {{ rol.get_permisos }}">
                    <input type="radio" name="roles{{ user.id }}[]" value="{{ rol.id }}">ID: {{ rol.id }} - NOMBRE: {{ rol }} - DESCRIPCION: {{ rol.descripcion }}
                </span><br><br>
            {% endfor %}

        </div>{% endcomment %}
    {% endfor %}
</div>
    <input type="submit" value="Crear un nuevo Proyecto" />
    <a style="font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;" href="/proyecto">Cancelar</a>
</form>





</body>
</html>-->