<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eliminar Proyecto</title>
</head>
<body>
<h2>Eliminar Proyecto</h2>
<form method="post" action="">
    {% csrf_token %}
    <h3>Desea eliminar el registro de {{ proyecto.nombre }} ?</h3>
    <button class="btm btn-danger" type="submit">Si, eliminar</button>
    <a href="javascript:history.back(-1);" title="Ir la página anterior">No, volver a la Pagina Anterior</a>
</form>
</body>
</html>