{% extends 'base.html' %}
{% block title %}SGPA | Burndown Chart{% endblock title %}

{% block content %}
<div class="jumbotron">

        <h3 align="center">Generar Burndown Chart</h3>

        <h4 >Sprints del Proyecto</h4>
        
        <table class="table table-striped">
            <thead style="background-color:#1c87c9; color:#fff;">
                <tr>
                        <th>Fecha de Inicio</th>
                        <th>Fecha de Finalización</th>
                        <th>Fecha de Finalización Estimada</th>
                        <th>User Stories</th>
                        <th>Acciones</th>

                </tr>
            </thead>
            <tbody>
                    {% for sprint,mensaje in sprints %}
                    <tr style="border-bottom: 1px solid #ddd; text-align: center" >
                        <td>{{ sprint.fecha_ini }}</td>
                        {% if sprint.estado == 'ACT' %}
                        <td><a style="color: red;">Aún Activo</a></td>
                        {% else %}
                    <td>{{ sprint.fecha_fin }}</td>
                        {% endif %}
                    <td>{{ sprint.fecha_fin_est }}</td>
                    <td>{{ mensaje }}</td>
                    <td><a href="/proyecto/burndown/{{ sprint.id }}">Generar Burndown Chart</a> </td>
                    </tr>
                {% endfor %}

            </tbody>
            
        </table>
        <br>

        <div class="text-center">
                <a class="btn btn-warning" href="/proyecto/trabajo/{{ proyecto.id }}">Volver a {{ proyecto.nombre  }}</a>
        </div>




</div>
{% endblock content %}