{% extends 'base.html' %}
{% block title %}SGPA | User Stories por Team Member{% endblock title %}

{% block content %}
<div class="jumbotron">

    <h1 align="center">Reporte de Team</h1><br><br>


    <div class="list-group">
            {% for u, r in usuarios %}
            {% if r.nombre != 'owner' %}
            <a href="/proyecto/reportetm/{{ u.user.id }}/{{ proyecto.id }}" class="list-group-item list-group-item-action list-group-item-success">Reporte del team member <b>{{ u }}</b> ({{ r }}) </a>
            {% endif %}
        {% endfor %}

    </div>


    
{% if proyecto %}
        <div class="text-center">
               <br><br> <a class="btn btn-warning" href="/proyecto/trabajo/{{ proyecto.id }}" >Volvera a {{ proyecto.nombre  }}</a>
        </div>
    {% else %}
        <a style="color: #000;">Error</a>
    {% endif %}  
</nav>
    </header>
</div>
{% endblock content %}