{% extends 'base.html' %}
{% block title %}SGPA | Reporte Diario{% endblock title %}

{% block content %}
<div class="jumbotron">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <script type="text/javascript">
            $("#btnPrint").live("click", function () {
                var divContents = $("#dvContainer").html();
                var printWindow = window.open('', '', 'height=400,width=800');
                printWindow.document.write('<html><head><title>SGPA (Sistemas de Gestion de Proyectos Agiles)</title>');
                printWindow.document.write('</head><body >');
                printWindow.document.write(divContents);
                printWindow.document.write('</body></html>');
                printWindow.document.close();
                printWindow.print();
                printWindow.close();
            });
        </script>


<h2 align="center" >Generar Reporte Diario</h2><br>
<form method="POST" action="">
{% csrf_token %}
<div class="form-group">
        <div class="col-lg-5">
   <input type="date" name="buscalo" class="form-control" placeholder="Ingrese una fecha" required >
        </div>
        <label class="col-lg-2">
            <br> <button type="submit" class="btn btn-info">Buscar</button>
        </label>
   </div>
        
  
</form><br><br>
<div>
    {% if messages %}
        <ul class="messages">
            {% for k in messages %}
            <li style="color: red">{{ k }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</div><br>

 <form id="form1">
    <div id="dvContainer">
{% if busqueda %}
    <h4>Resultados de la fecha {{ busqueda }} del proyecto {{ proyecto.nombre }}:</h4>
    <br>
{% endif %}

    <div style="color: #000">

        {% if sr %}
            {% for k in sr %}
            <table border="0px" width="100%">
                <tr>
                <td>Estado: {{ k.daily }}</td>

                <td>Tiempo: {{ k.tiempo }}</td>
            <td>Acción:
                {% if k.avanza %}
                    Avanzar
            </td>
        {% else %}
                Retroceder 
            </td>
            {% endif %}
            <td>Fase Anterior: {{ k.fase }}</td>
    <td>Estado Anterior:
                {% if k.estado == 1 %}
        To Do</td>
{% elif k.estado == 2 %}
Doing</td>
{% elif k.estado == 3 %}
Done</td>
{% endif %}
<td>Usuario Encargado:  {{ k.usuario }}</td>
            </tr>
            </table>
        <hr>
            {% endfor %}
        {% endif %}
    </div>
    </div>
 </form>

{% if busqueda %}
<div align="center"> <input type="button" value="Guardar como PDF" id="btnPrint" /></div>
{% endif %}
<div align="center">
<a class="btn btn-warning" href="/proyecto/trabajo/{{ proyecto.id }}" >Volver a {{ proyecto.nombre  }}</a></div>
</div>
</div>
{% endblock content %}