{% extends 'base.html' %}
{% block title %}SGPA | Inactivar Proyecto{% endblock title %}

{% block content %}
<div class="jumbotron">
        <h1 class="text-danger" align="center">Inactivar Proyecto</h1>
<form method="post" action="">
    {% csrf_token %}
    <h3>Desea inactivar el registro de {{ proyecto.nombre }} ?</h3>
    <button class="btn btn-success ml-2" type="submit">Inactivar</button>
    {% if super %}
{#        <a href="/proyecto" title="Ir la página anterior">No, volver al menú de Administración de Proyectos</a> #}
    {% endif %}
    <a class="btn btn-danger" href="/proyecto/trabajo/{{ proyecto.id }}" title="Ir la página anterior">No, volver al Proyecto</a>



</form>



</div>


{% endblock content %}