{% extends 'base.html' %}

{% block title %}SGPA | Menu {% endblock title %}

{% block content %}
<div class="jumbotron">
        
        <h1 align="center"> Administracion de Proyectos </h1>
<nav>
        <a href="/menu"><i class="fas fa-home"></i> Inicio</a> |
        <a href="/usuario"><i class="fas fa-users"></i> Usuarios</a> |
        <a href="/rol"><i class="fas fa-user-tag"></i> Roles</a> |
        <a href="/proyecto"><i class="fas fa-tasks"></i> Proyectos</a>
    
</nav>

<br>
    

       

<h3 style=""><a href="{% url 'create_proyecto' %}">Crear Proyecto</a></h3>
<h3 style=""><a href="{% url 'buscar_proyecto' %}">Buscar Proyecto</a></h3>



{#<form method="POST" action="">#}
{#{% csrf_token %}#}
 {# <div class="form-group">#}
{#       <div class="col-lg-5">#}
{#           <label for="buscalo"><h5>Listado de Proyectos</h5></label>#}
 {#          <input type="text" name="buscalo" class="form-control" placeholder="Ingrese el nombre"><br>#}
 {#          <button type="submit" class="btn btn-success">Buscar</button>#}
 {#      </div>#}
{#  </div>#}
{#</form><br><br>#}


<table>
    <tbody>
        {% if proyectos %}
            <h3 align="center"> Listado de Proyectos </h3>
            <td><strong>[  ID  ]</strong></td>
            <td><strong>[  Nombre  ]</strong></td>
            <td><strong>[  Acciones  ]</strong></td>
        {% for proyecto in proyectos%}
        <tr>
            <td>{{ proyecto.id }}</td>
            <td>{{ proyecto.nombre }}</td>
            <td>
{#                <a class="btn btn-primary" href="{%url "update_proyecto" proyecto.id %}">Modificar</a>#}
{#                <a class="btn btn-danger" href="{%url "inactivar_proyecto" proyecto.id %}">Inactivar</a>#}
                <a class="btn btn-primary mb1 bg-blue" href="{%url "list_proyecto" proyecto.id %}">Visualizar</a>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <h4>No hay proyectos</h4>
        {% endif %}
    </tbody>
</table>


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<h5 align="center"><i class="fas fa-arrow-alt-circle-left" ></i><a href="/menu"> Volver al menú principal</a></h5>

       
</div>
{% endblock content %}























