{% extends 'base.html' %}
{% block title %}SGPA | Reporte del Proyecto{% endblock title %}

{% block content %}
<div class="jumbotron">
        <html xmlns="http://www.w3.org/1999/xhtml">
        <head>
            <title></title>
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
            <script type="text/javascript">
                $("#btnPrint").live("click", function () {
                    var divContents = $("#dvContainer").html();
                    var printWindow = window.open('', '', 'height=400,width=800');
                    printWindow.document.write('<html><head><title>SGPA (Sistema de Gestion de Proyectos Agiles)</title>');
                    printWindow.document.write('</head><body >');
                    printWindow.document.write(divContents);
                    printWindow.document.write('</body></html>');
                    printWindow.document.close();
                    printWindow.print();
                    printWindow.close();
                });
            </script>
        
        
            {% load indice %}
        
        <form id="form1">
            <div id="dvContainer">
        
        
        
                <table style="width:100%">
        
                <tbody>
                        <p><h2><b>Nombre: </b>{{ proyecto.nombre }}</h2></p>
                        {% if proyecto.fecha_ini_est %}
                            <p><b>Fecha de inicio estimada:</b> {{ proyecto.fecha_ini_est }}</p>
                            {% if proyecto.estado != 'PEN' %}
                            <p><b>Fecha de inicio real:</b> {{ proyecto.fecha_ini }}</p>
                            {% endif %}
                            <p><b>Fecha de finalización estimada:</b> {{ proyecto.fecha_fin_est }}</p>
                            {% if proyecto.estado == 'TER' %}
                            <p><b>Fecha de finalización real:</b> {{ proyecto.fecha_fin }}</p>
                            {% endif %}
                            {% if proyecto.estado == 'INA' %}
                            <p><b>Fecha de inactivación:</b> {{ proyecto.fecha_fin }}</p>
                            {% endif %}
                            <p><b>Observaciones:</b> {{ proyecto.observaciones }}</p>
                        {% endif %}
                        <p><b>Estado:</b> {{ proyecto.estado }}</p>
                         {% if tablero %}
                             <p><b>Tipo de User Stories:</b></p>
                             {% for tb in tablero %}
                             <div style="padding-left: 10px"><i class="fas fa-check-circle" style="color:green;"></i> <b>Nombre: </b>{{ tb.nombre }}
                                 {% index fases forloop.counter0 as val%}
                                    {% for fs in val %}
                                <br><i class="fas fa-check-circle" style="color:green;"></i> <b>Fase {{ forloop.counter }}: </b>{{ fs.nombre }}
        
                                        {% endfor %}
                                 </div>
                                 <p></p>
                             {% endfor %}
                         {% endif %}
        
        
                </tbody>
            </table>
        
         <u><b>Team:</b></u>
            <table>
                <tbody>
            {% for us in us_proyecto %}
                {% index rol_usuario forloop.counter0 as val%}
                <p>
                <b style="margin-left: 10px; "><i class="fas fa-users-cog" style="color:green;"></i> Nombre de Usuario:</b> {{ us }}
                <b>Nombre de Rol:</b> {{ val }}
                </p>
        
            {% endfor %}
             </tbody>
            </table>

            
        
         {% if sprint_activo %}
             <b>Sprint Activo:</b>  <div style="padding-left: 10px"><i class="fas fa-check-circle" sytle="color:green;"></i> <b>Fecha de inicio: </b>{{ sprint_activo.fecha_ini }}
             <br><i class="fas fa-check-circle" sytle="color:green;"></i> <b>Fecha de finalización estimada: </b>{{ sprint_activo.fecha_fin_est }}</div>
         {% endif %}
        <p></p>
                 <b>Sprints Finalizados:</b><br><br>
        
         {% if sprints_anteriores %}
             {% for s_a in sprints_anteriores %}
             <div style="padding-left: 10px"><i class="fas fa-check-circle" style="color:green;"></i> <b>Fecha de inicio: </b>{{ s_a.fecha_ini }}
             <br><i class="fas fa-check-circle" style="color:green;"></i> <b>Fecha de finalización estimada: </b>{{ s_a.fecha_fin_est }}
                 <br><i class="fas fa-check-circle" style="color:green;"></i> <b>Fecha de finalización real: </b>{{ s_a.fecha_fin }}</div>
                 <p></p>
        
             {% endfor %}
         {% else %}
             <div style="padding-left: 10px"><i class="fas fa-check-circle" style="color:green;"></i> <b>No hay sprints anteriores</b></div>
        {% endif %}
        
        </div>
            <div align="center"> <input class="btn btn-info" type="button" value="Guardar como PDF" id="btnPrint" />
            <a class="btn btn-warning" href="/proyecto/trabajo/{{ proyecto.id }}">Volver a {{ proyecto.nombre }}</a> 
            
            </div>
            </form>
</div>
{% endblock content %}