{% extends 'base.html' %}
{% block title %}SGPA | User Stories por Team Member{% endblock title %}

{% block content %}
<div class="jumbotron">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
        <script>
    function onClick() {
     var pdf = new jsPDF('p', 'pt', 'letter');
     pdf.canvas.height = 72 * 11;
     pdf.canvas.width = 72 * 8.5;
   
     pdf.fromHTML(document.body);
   
     pdf.save('test.pdf');
   };
   
   var element = document.getElementById("clickbind");
   element.addEventListener("click", onClick);
   </script>
{% comment %}

{% if cant_us == 0 %}
    <b style="color: red">No tiene ningún User Story asignado actualmente</b>
{% else %}
<h3 style="background-color:#B7F4F2">User Stories por Team Member del Sprint Activo</h3>

    <div id="tabla">
<table class="table table-striped">
    <thead style="background-color:#1c87c9; color:#fff;">
        <tr>
            <th>Prioridad Promedio</th>
            <th>Descripción</th>
            <th>Prioridad</th>
            <th>Valor Técnico</th>
            <th>Valor de Negocio</th>
            <th>Duración Estimada</th>
            <th>Estado</th>
            <th>Team Member</th>
            <th>Tipo de US</th>

        </tr>
    </thead>
    <tbody>
            {% for us in uss%}
            <tr style="border-bottom: 1px solid #ddd; text-align: center" >
                <td>{{ us.prioridad_promedio }}</td>
                            <td><span title="{{ us.descripcion_completa }}">{{ us.descripcion_breve }}</span></td>
        
            <td>{{ us.prioridad }}</td>
            <td>{{ us.valor_tecnico }}</td>
            <td>{{ us.valor_negocio }}</td>
                <td>{{ us.tiempo_finalizacion }}</td>
                 <td>
                {% if us.estado == 0 %}
                No iniciado
                {% else %}
                Iniciado<br>
                    <iframe src="/us/horas/{{ us.id }}" style="border:none; height: 34px; width: 247px"></iframe>
                {% endif %}
            </td>
            <td>{{ us.usuario }}</td>
            <td>{{ us.tablero }}</td>
            </tr>
        {% endfor %}

    </tbody>


    
</table>
{% endif %}



{% endcomment %}

<title>Reporte de Team Member</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $("#btnPrint").live("click", function () {
        var divContents = $("#dvContainer").html();
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write('<html><head><title>SGPA (Sistema de Gestion de Proyectos Agiles)</title>');
        printWindow.document.write('</head><body >');
        printWindow.document.write(divContents);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
        printWindow.close();
    });
</script>
<form id="form1">
        <div id="dvContainer">
        <div id="content">
            {% if cant_us == 0 %}
        <b style="color: red">El usuario {{ user }} no tiene ningún User Story asignado actualmente</b>
            <div class="text-center">
                    {% if proyecto %}
                    <br>
                     <a  class="btn btn-warning" href="/proyecto/elegirusuario/{{ proyecto.id }}" > Volver</a>
                    {% else %}
                        <a style="color: #000;">Error</a>
                     {% endif %} 

            </div>
        

        {% else %}
    <h3 align="center">User Stories por Team Member del Sprint Activo</h3>
                <h4>Usuario: {{ user }}</h4>
                <form>Nombre: {{ user.first_name }} {{ user.last_name }}
                <h6>Correo electrónico: {{ user.email }}</h6>
                <h6>CI: {{ user.usuario.ci }}</h6>
                <h6>Teléfono: {{ user.usuario.telefono }}</h6>
                <h6>Dirección: {{ user.usuario.direccion }}</h6>
                <h6>Descripción: {{ user.usuario.descripcion }}</h6><br>
    
        <div id="tabla">
    <table class="table table-striped">
        <thead style="background-color:#1c87c9; color:#fff;">
            <tr>
                    <th>Prioridad Promedio</th>
                    <th>Descripción</th>
                    <th>Prioridad</th>
                    <th>Valor Técnico</th>
                    <th>Valor de Negocio</th>
                    <th>Duración Estimada</th>
                    <th>Estado</th>
                    <th>Tipo de US</th>

            </tr>
        </thead>
        <tbody>
                {% for us in uss%}
                <tr style="border-bottom: 1px solid #ddd; text-align: center" >
                    <td>{{ us.prioridad_promedio }}</td>
                                <td><span title="{{ us.descripcion_completa }}">{{ us.descripcion_breve }}</span></td>
            
                <td>{{ us.prioridad }}</td>
                <td>{{ us.valor_tecnico }}</td>
                <td>{{ us.valor_negocio }}</td>
                    <td>{{ us.tiempo_finalizacion }}</td>
                     <td>
                    {% if us.estado == 0 %}
                    No iniciado
                    {% else %}
                    Iniciado<br>
                        <iframe src="/us/horas/{{ us.id }}" style="border:none; height: 55px; width: 260px"></iframe>
                    {% endif %}
                </td>
                <td>{{ us.tablero }}</td>
                </tr>
            {% endfor %}

        </tbody>
        
        
    </table>
        </div>
                </div>
                </div>
    
             </form>
    
             <br>
        <div align="center"> <input class="btn btn-info" type="button" value="Guardar como PDF" id="btnPrint" />
            {% if proyecto %}
        <a  class="btn btn-warning" href="/proyecto/elegirusuario/{{ proyecto.id }}" > Volver</a>
    {% else %}
        <a style="color: #000;">Error</a>
    {% endif %} 
        </div>
    {% endif %}

</div>
{% endblock content %}