{% extends 'base.html' %}
{% block title %}Terminar Proyecto{% endblock title %}

{% block content %}
<div class="jumbotron">

        <h1 align="center">Administracion de Proyecto</h1>
        <nav>
                <a href="/menu"><i class="fas fa-home"></i> Inicio</a> |
                <a href="/usuario"><i class="fas fa-users"></i> Usuarios</a> |
                <a href="/rol"><i class="fas fa-user-tag"></i> Roles</a> |
                <a href="/proyecto"><i class="fas fa-tasks"></i> Proyectos</a>
        </nav>
            <br>
            <nav style=" color: #ff6c29">
        <a style="color: #ff6c29" href="/menu/">Inicio</a> >
            <a style="color: #ff6c29" href="/proyecto/trabajo/{{ proyecto.id }}">{{ proyecto.nombre }}</a> >
            <a style="color: #000;">Terminar Proyecto</a>
        </nav>
        </header>
        <h2 class="text-danger">Finalizar Proyecto: <i>{{ proyecto }}</i></h2>
        <form method="post" action="">
            {% csrf_token %}
            <h3>¿Desea terminar el proyecto "{{ proyecto.nombre }}"?</h3>
            Un proyecto que termina significa que logró finalizarse correctamente.<br>No quedan User Stories pendientes.<br><br>
            <button class="btn btn-warning" type="submit">Finalizar</button>
        
            <a class="btn btn-danger" href="/proyecto/trabajo/{{ proyecto.id }}" title="Ir la página anterior">No, volver al Proyecto</a>
        </form>

</div>
{% endblock content %}