
{% extends 'base.html' %}

{% block title %}SGPA | Proyecto {% endblock title %}

{% block content %}
<div class="jumbotron">
        
        <h1 align="center">Administracion de Proyecto</h1>

        <style>
                #cambiar{
                    font-size: small;
                }
                 #cambiar1{
                    font-size: small;
                }
                #cambiar2{
                    font-size: small;
                }
                #cambiar3{
                    font-size: small;
                }
                #cambiar4{
                    font-size: small;
                }
            </style>
        
            <script>
          function resizeIframe(obj) {
            obj.style.height = obj.contentWindow.document.body.scrollHeight + 7 + 'px';
          }
        </script>
        
        {% if super %}
        <nav>
        <a href="/menu"><i class="fas fa-home"></i> Inicio</a> |
            <a href="/usuario"><i class="fas fa-users"></i> Usuarios</a> |
            <a href="/rol"><i class="fas fa-user-tag"></i> Roles</a> |
            <a href="/proyecto"><i class="fas fa-tasks"></i> Proyectos</a>
        </nav>
        <br>
            {% endif %}
           
        
        
            
        
        
        <div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            
            <strong> <font color ="green">
                <li style="list-style:none;"{% if message.tags %} class="{{ message.tags }}"{% endif %}><i class="fas fa-exclamation-triangle"></i>  {{ message }}</font></p></strong>
            {% endfor %}
        </ul>
        {% endif %}
        </div>
        
            {% if proyectos %}
            
                    {% for proyecto in proyectos.all%}
                        <h2 >{{ proyecto.nombre }} 
                                
                        <a id="cambiar1" href="#" onclick="myFunction('myDIV','cambiar1')">ocultar</a>
                    
                        {% if is_scrum and proyecto.estado != 'INA' and not hay_activo and proyecto.estado != 'TER' %}
                        <a href="/proyecto/update/{{ proyecto.id }}" style="font-size: small">modificar</a>{% endif %}</h2>
                    
                        {% endfor %}

            {% endif %}

        <div id="myDIV">
        <!-- Tabla para mostrar contenido del proyecto -->
        <table style="width:100%">
          <tr>
            <td>
                <table>
                <tbody>
                    {% if proyectos %}
                    {% for proyecto in proyectos.all%}
                        {% if proyecto.fecha_ini_est %}
                            <p><b>Fecha de inicio estimada:</b> {{ proyecto.fecha_ini_est }}</p>
                            {% if proyecto.estado != 'PEN' %}
                            <p><b>Fecha de inicio real:</b> {{ proyecto.fecha_ini }}</p>
                            {% endif %}
                            <p><b>Fecha de finalización estimada:</b> {{ proyecto.fecha_fin_est }}</p>
                            {% if proyecto.estado == 'TER' %}
                            <p><b>Fecha de finalización real:</b> {{ proyecto.fecha_fin }}</p>
                            {% endif %}
                            {% if proyecto.estado == 'INA' %}
                            <p><b>Fecha de inactivación:</b> {{ proyecto.fecha_fin }}</p>
                            {% endif %}
                            <p><b>Observaciones:</b> {{ proyecto.observaciones }}</p>
                        {% elif is_scrum %}
                            <h6 style="color:green">SCRUM MASTER: MODIFICAR PROYECTO</h6>
                        {% endif %}
                        <p><b>Estado:</b> {{ proyecto.estado }}</p>
                        {% if activo %}
                        <b>Sprint Activo:</b>  <div style="padding-left: 10px"><i class="fas fa-star"></i> <b>Fecha de inicio: </b>{{ activo.fecha_ini }}
                            <br><i class="fas fa-star"></i> <b>Fecha de finalización estimada: </b>{{ activo.fecha_fin_est }}</div>
                        {% endif %}
                    {% endfor %}
                    {% else %}
                    <h1>No hay Proyectos</h1>
                    {% endif %}
                </tbody>
            </table>
        
            {% load indice %}
        
            </td>
            <td>

                <!-- Button trigger modal Para ver Team-->

<div align="right">
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalLong">
  Ver Team <i class="fas fa-users"></i>
</button></div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Team <i class="fas fa-users"></i></b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <table>
                <tbody>
            {% for us in us_proyecto %}
                {% index rol_usuario forloop.counter0 as val%}
                <p>
                <b style="margin-left: 10px;"><font color="green"> <i class="fas fa-check-circle"></i> </font>    Nombre de Usuario:</b> {{ us }}
                <b>Nombre de Rol:</b> {{ val }}
                <b>ID de Rol:</b> {{ val.id }}
                </p>

            {% endfor %}
             </tbody>
            </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


                 {#       <h3 style="background-color:#B7F4F2">Team</h3>#}
            </td>
          </tr>
        </table>
            {% comment %}<table>
                <tbody>
                    {% if proyectos %}
                    {% for proyecto in proyectos.all%}
                        <p><b>Fecha de inicio:</b> {{ proyecto.fecha_ini }}</p>
                        <p><b>Fecha de finalización:</b> {{ proyecto.fecha_fin }}</p>
                        <p><b>Observaciones:</b> {{ proyecto.observaciones }}</p>
                        <p><b>Estado:</b> {{ proyecto.estado }}</p>
                    {% endfor %}
                    {% else %}
                    <h1>No hay Proyectos</h1>
                    {% endif %}
                </tbody>
            </table>
        
            {% load indice %}
        {% endcomment %}
        {% comment %}    <h3 style="background-color:white">Team</h3>
            <table>
                <tbody>
            {% for us in us_proyecto %}
                {% index rol_usuario forloop.counter0 as val%}
                <p>
                <b>Nombre de Usuario:</b> {{ us }}
                <b>Nombre de Rol:</b> {{ val }}
                <b>ID de Rol:</b> {{ val.id }}
                </p>
        
            {% endfor %}
             </tbody>
            </table>{% endcomment %}
        </div>
        
        <script>
        function myFunction(id, mostrar) {
            var x = document.getElementById(id);
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
            var y= document.getElementById(mostrar);
            if(y.innerText=='ocultar'){
                y.innerText='mostrar';
            }else{
                y.innerText='ocultar';
        
            }
        }
        </script>
        {% comment %}
        
        <h3 style="background-color:white">Buscar User Story <a id="cambiar3" href="#" onclick="myFunction('userstory','cambiar3')">ocultar</a></h3>
        
        <div id="userstory">
        {% for proyecto in proyectos.all%}
        <iframe width="100%" max="200" src="/us/buscarus/{{ proyecto.id }}" frameborder="0" scrolling="no" onload="resizeIframe(this);reload()"></iframe>
        {% endfor %}
        </div>
        {% endcomment %}
        {% if proyectos %}
                    {% for proyecto in proyectos.all %}
                        {% if not hay_activo and proyecto.estado == 'ACT' and tablero and is_scrum %}
                        <div class="text-right">
                            <a  class="btn btn-success" href="/sprint/iniciar/{{ proyecto.id }}">Iniciar Sprint</a><br>
                        </div>
                            <!--<a class="btn btn-success" href="#" align="right">Inicializar Sprint</a>-->
                                
                        {% endif %}
                        {% if not hay_activo and proyecto.estado == 'ACT' and puede_terminar and is_scrum %}
                        <div class="text-right">
                            <br><a class="btn btn-danger" href="/proyecto/terminar/{{ proyecto.id }}">Terminar Proyecto</a><br>
                        </div>
                            {% endif %}
                        {% if hay_activo and is_scrum and proyecto.estado == 'ACT'%}
                        <div class="text-right">
                           <br> <a class="btn btn-warning" href="/sprint/control_calidad/{{ activo.id }}">Finalizar Sprint</a><br>
                        </div>
                           {% endif %}
                        {% comment %}{% if hay_pendiente and proyecto.estado == 'ACT'%}
                            <a class="btn btn-info" href="">Modificar Sprint</a>
                            <a class="btn btn-success" href="">Iniciar Sprint</a>
                        {% endif %}{% endcomment %}
                        {% if is_scrum and proyecto.fecha_ini_est %}
                            {% if proyecto.estado == 'PEN' or proyecto.estado == 'CAN' %}
                            <div class="text-right">
                               <br> <a class="btn btn-success" href="/proyecto/activar/{{ proyecto.id }}">Activar Proyecto</a><br>
                               </div>
                               {% endif %}
                        {% endif %}
                    {% endfor %}
                
        {% endif %}
        
        {% if not is_owner %}
        
        <br><h3 style="">User Stories <a id="cambiar" href="#" onclick="myFunction('backlog','cambiar')">ocultar</a></h3>
        
        
        <div id="backlog">
        {% comment %}{% if proyectos %}
        {% for proyecto in proyectos.all%}
        {% if is_scrum %}
            <a href="/us/crear/{{ proyecto.id }}">Añadir User Story al Product Backlog</a>
        {% endif %}
             {% endfor %}
                {% endif %}
        <h4>Seleccione un User Story para añadirlo al Tablero del Proyecto:</h4>
        
        {% if proyectos %}
        {% for proyecto in proyectos.all%}
        <iframe width="100%" max="200" src="/us/{{ proyecto.id }}" frameborder="0" scrolling="no" onload="resizeIframe(this);reload()"></iframe>
            <script>
                function reload(id, mostrar) {
                    document.getElementById('iframe').contentWindow.location.reload();
                }
            </script>
             {% endfor %}
                {% endif %}{% endcomment %}
            {% if proyectos %}
        {% for proyecto in proyectos.all%}
            <div style="padding-left: 8px">
            {% if proyecto.estado != 'TER' %}
            <i class="fas fa-check-circle"></i> <a href="" onclick="window.open('{% url 'p_b' proyecto.id %}','{{title}}','height=500,width=1500');"> Product Backlog</a><br>{% endif %}
            {% if activo %}
            <i class="fas fa-check-circle"></i> <a href="" onclick="window.open('{% url 's_b2' proyecto.id %}','{{title}}','height=500,width=1500');"> Sprint Backlog</a><br>{% endif %}
            {% if not proyecto.estado == 'PEN' %}
            <!--<i class="fas fa-check-circle"></i> <a href="" onclick="window.open('{% url 'finalizados' proyecto.id %}','{{title}}','height=500,width=1000');"> User Stories Finalizados</a><br>
            <i class="fas fa-check-circle"></i> <a href="" onclick="window.open('{% url 'sprints_anteriores' proyecto.id %}','{{title}}','height=500,width=1000');"> Sprints Finalizados del Proyecto</a><br>-->
            {% endif %}
            </div>
            {% endfor %}
                {% endif %}
        </div>
        
        {% for proyecto in proyectos.all%}
        {#<h3 style="background-color:white">Tipo de User Story: {{ proyecto.tablero.nombre }} <a id="cambiar2" href="#" style="padding: 10px" onclick="myFunction('tablero,'cambiar2')">ocultar</a>{% if is_scrum %}<a href="" onclick="window.open('{% url 'modificar_tablero' proyecto.tablero.id %}','{{title}}','height=500,width=1000');" style="font-size:small;padding: 10px" >modificar tablero</a><a href="" onclick="window.open('{% url 'crear_fase_final' proyecto.tablero.id %}','{{title}}','height=500,width=1000');" style="font-size: small;padding:10px">añadir fase al final del Tablero</a>{% endif %}</h3>#}
            <br>
        <h3 style="">Tipos de User Story <a id="cambiar2" href="#" onclick="myFunction('tablero','cambiar2')">ocultar</a>{% if is_scrum %}<a href="/tablero/crear/{{ proyecto.id }}" style="font-size: small; padding: 5px">crear</a>{% endif %}</h3>
        {% endfor %}
        
        <div id="tablero">
        
        {% for proyecto in proyectos.all%}
        {#    <b>Descripción: </b> {{ proyecto.tablero.descripcion }}#}
        {#<iframe id="iframe" width="100%" src="/tablero/ver/{{ proyecto.tablero.id }}" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>#}
            {% for i in tablero %}
            <i class="fas fa-check-circle"></i><a href="/tablero/ver/{{ i.id }}"> {{ i }}</a><br>
                {% endfor %}
        {% endfor %}
        {% if not tablero %}
            <h6 style="color: green">SCRUM MASTER: CREE AL MENOS UN TIPO DE USER STORY PARA PODER INICIAR UN SPRINT</h6>
        {% endif %}
        </div>
        
        {% endif %}
        <br>

        <h3 >Reportes <a id="cambiar4" href="#" onclick="myFunction('reportes','cambiar4')">ocultar</a></h3>

        <div id="reportes">
                {% for proyecto in proyectos.all%}
                {% if proyecto.estado == 'PEN' %}
                    <h3 style="color: red">Aún no se pueden generar reportes</h3>
                {% else %}
                <i class="fas fa-chart-line"></i> <a href="/proyecto/elegirburndown/{{ proyecto.id }}">Burndown Chart</a><br>
               <i class="fas fa-chart-line"></i> <a href="/us/reportebacklog/{{ proyecto.id }}">Product Backlog</a><br>
                <i class="fas fa-chart-line"></i> <a href="/us/reportesprint/{{ proyecto.id }}">Sprint Backlog</a><br>
                    {% if activo %}
                    <i class="fas fa-chart-line"></i> <a href="/us/reporteprioridad/{{ proyecto.id }}">US Prioridad</a><br>
                        {% endif %}
                        <i class="fas fa-chart-line"></i> <a href="/us/horasreales/{{ proyecto.id }}">Horas Reales Trabajadas</a><br>
                        <i class="fas fa-chart-line"></i> <a href="/proyecto/reporte_proyecto/{{ proyecto.id }}">Reporte Proyecto</a><br>
                    {% if activo %}
                    <i class="fas fa-chart-line"></i> <a href="/proyecto/elegirusuario/{{ proyecto.id }}">User Stories por Team Member en el Sprint Activo</a><br>
                        {% endif %}
                
                        <i class="fas fa-chart-line"></i> <a href="/proyecto/elegirfecha/{{ proyecto.id }}">Reporte de Estados por Fecha</a><br>
                    {% endif %}
                {% endfor %}
                </div>
                <br><br><br><br>

        <h5 align="center"><i class="fas fa-arrow-alt-circle-left" ></i><a href="/menu"> Volver al menú principal</a></h5>

        
        <br>
        
</div>














{% endblock content %}















