{% extends 'base.html' %}


{% load crispy_forms_tags %}

{% block title %}SGPA | Modificar Proyecto{% endblock title %}

{% block content %}
<div class="jumbotron">
        
        <h1 align="center">Administracion de Proyectos </h1>
        <nav>
            <a href="/menu"><i class="fas fa-home"></i> Inicio</a> |
            <a href="/usuario"><i class="fas fa-users"></i> Usuarios</a> |
            <a href="/rol"><i class="fas fa-user-tag"></i> Roles</a> |
            <a href="/proyecto"><i class="fas fa-tasks"></i> Proyectos</a>
            </nav>
                <br>
                
            </header>
            <h2>Modificar Proyecto</h2>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form method="POST">
            {% csrf_token %}
             {{ proyecto_form|crispy }}
            
            
               <!-- <div style="float: right; margin-right: 15px">
            <a href=""  class="btn btn-success ml-2"  onclick="window.open('{% url 'rol_crear2' %}','{{title}}','height=500,width=500');">Crear Rol Nuevo</a>
                </div>-->
            <p>Team Members:</p>
            {% load indice %}
                {% for user in users %}
                            <input type="checkbox" {% if  user.id in checkeado %} checked {% endif %} name="checks[]" value="{{ user.id }}">{{ user.id }} {{ user }}
                            <div style="width: auto; overflow: auto; max-height: 150px; border-style: outset; border-width: 1px; margin: 15px">
                            {% index chr forloop.counter0 as val%}
            
                            {% for rol in rols%}
                                <span title="Permisos: {{ rol.get_permisos }}">
            
                                <input type="radio" {% if val == rol.id %}checked{% endif %} name="roles{{ user.id }}[]" value="{{ rol.id }}">ID: {{ rol.id }} - NOMBRE: {{ rol }} - DESCRIPCION: {{ rol.descripcion }}
                            </span><br><br>
                            {% endfor %}
                            </div>
                {% endfor %}
            
                <div class="text-right">
              <button class="btn btn-success ml-2"  type="submit" name="save">Guardar cambios</button>
            
            
            <a class="btn btn-danger" href="/proyecto/inactivar/{{ proyecto.id }}">Inactivar Proyecto</a>
            
            {% if proyecto.estado == 'ACT' %}
                <a class="btn btn-warning" href="/proyecto/cancelar/{{ proyecto.id }}">Cancelar Proyecto</a>
            {% endif %}
            
            <a class="btn btn-primary mb1 bg-blue" href=/proyecto/trabajo/{{ proyecto.id }}">Volver al Proyecto sin modificar</a>
            </form>
        </div>
            <br>
</div>



{% endblock content %}















































<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Proyectos</title>
</head>
<body>
<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
<nav>
<a href="/menu/">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu/">Inicio</a> >
    <a style="color: #ff6c29" href="/proyecto/trabajo/{{ proyecto.id }}">{{ proyecto }}</a> >
    <a style="color: #000;">Modificar Proyecto</a>
</nav>
</header>
<h2 style="background-color:#B7F4F2">Modificar Proyecto</h2>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="POST">
{% csrf_token %}
 {{ proyecto_form.as_p }}

    <div style="float: right; margin-right: 15px">
<a href=""  style=" font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;"  onclick="window.open('{% url 'rol_crear2' %}','{{title}}','height=500,width=500');">Crear Rol Nuevo</a>
    </div>
<p>Team Members:</p>
{% load indice %}
    {% for user in users %}
                <input type="checkbox" {% if  user.id in checkeado %} checked {% endif %} name="checks[]" value="{{ user.id }}">{{ user.id }} {{ user }}
                <div style="width: auto; overflow: auto; max-height: 150px; border-style: outset; border-width: 1px; margin: 15px">
                {% index chr forloop.counter0 as val%}

                {% for rol in rols%}
                    <span title="Permisos: {{ rol.get_permisos }}">

                    <input type="radio" {% if val == rol.id %}checked{% endif %} name="roles{{ user.id }}[]" value="{{ rol.id }}">ID: {{ rol.id }} - NOMBRE: {{ rol }} - DESCRIPCION: {{ rol.descripcion }}
                </span><br><br>
                {% endfor %}
                </div>
    {% endfor %}

  <button style="font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;"  type="submit" name="save">Guardar cambios</button>


<a style="  font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;" href="/proyecto/inactivar/{{ proyecto.id }}">Inactivar Proyecto</a>

{% if proyecto.estado == 'ACT' %}
    <a style="  font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;" href="/proyecto/cancelar/{{ proyecto.id }}">Cancelar Proyecto</a>
{% endif %}

<a style="  font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;" href=/proyecto/trabajo/{{ proyecto.id }}">Volver al Proyecto sin modificar</a>
</form>

<br>
</body>

</html>-->