{% extends 'base.html' %}

{% block title %}SGPA | Proyectos{% endblock title %}

{% block content %}
<div class="jumbotron">
        
        <h1 align="center">Administracion de Proyecto</h1>

        <nav>
            <a href="/menu"><i class="fas fa-home"></i> Inicio</a> |
            <a href="/usuario"><i class="fas fa-users"></i> Usuarios</a> |
            <a href="/rol"><i class="fas fa-user-tag"></i> Roles</a> |
            <a href="/proyecto"><i class="fas fa-tasks"></i> Proyectos</a>
            </nav>
                <br>
                
            <h2 style="">Visualizar Proyecto</h2>
            <table>
                <tbody>
                    {% if proyectos %}
                    {% for proyecto in proyectos.all%}
                        <p><b>Nombre de Proyecto:</b> {{ proyecto.nombre }}</p>
                        <p><b>Fecha de inicio:</b> {{ proyecto.fecha_ini }}</p>
                        <p><b>Fecha de finalización:</b> {{ proyecto.fecha_fin }}</p>
                        <p><b>Observaciones:</b> {{ proyecto.observaciones }}</p>
                        <p><b>Estado:</b> {{ proyecto.estado }}</p>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <h1>No hay Proyectos</h1>
                    {% endif %}
                </tbody>
            </table>
            
            {% load indice %}
            
            <h3 style="">Team</h3>
            <table>
                <tbody>
            {% for us in us_proyecto %}
                {% index rol_usuario forloop.counter0 as val%}
                <p>
                <b>Nombre de Usuario:</b> {{ us }}
                <b>Nombre de Rol:</b> {{ val }}
                <b>ID de Rol:</b> {{ val.id }}
                </p>
            
            {% endfor %}
             </tbody>
            </table>
            <br><br>
            <h5 align="center"><i class="fas fa-arrow-alt-circle-left" ></i><a href="/proyecto"> Volver al menú de Proyecto</a></h5>

        
</div>
{% endblock content %}











































<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visualizar Proyecto</title>
</head>
<body>
<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
<nav>
<a href="/menu/">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu/">Inicio</a> >
    <a style="color: #ff6c29" href="/proyecto">Proyecto</a> >
    <a style="color: #000;">Visualizar Proyecto</a>
</nav>
</header>
<h2 style="background-color:#B7F4F2">Visualizar Proyecto</h2>
<table>
    <tbody>
        {% if proyectos %}
        {% for proyecto in proyectos.all%}
            <p><b>Nombre de Proyecto:</b> {{ proyecto.nombre }}</p>
            <p><b>Fecha de inicio:</b> {{ proyecto.fecha_ini }}</p>
            <p><b>Fecha de finalización:</b> {{ proyecto.fecha_fin }}</p>
            <p><b>Observaciones:</b> {{ proyecto.observaciones }}</p>
            <p><b>Estado:</b> {{ proyecto.estado }}</p>
        </tr>
        {% endfor %}
        {% else %}
        <h1>No hay Proyectos</h1>
        {% endif %}
    </tbody>
</table>

{% load indice %}

<h3 style="background-color:#B7F4F2">Team</h3>
<table>
    <tbody>
{% for us in us_proyecto %}
    {% index rol_usuario forloop.counter0 as val%}
    <p>
    <b>Nombre de Usuario:</b> {{ us }}
    <b>Nombre de Rol:</b> {{ val }}
    <b>ID de Rol:</b> {{ val.id }}
    </p>

{% endfor %}
 </tbody>
</table>


<h2><a href="/proyecto">Volver al menú de Proyecto</a></h2>
</body>
</html>-->