{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}{% trans 'Página no encontrada' %}{% endblock %}

{% block content %}

<h2>{% trans 'Página no encontrada' %}</h2>

<p>{% trans "Lo sentimos, pero no se pudo encontrar la página solicitada." %}</p>

{% endblock %}