{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Error del Servidor' %}
</div>
{% endblock %}

{% block title %}{% trans 'Error del Servidor (500)' %}{% endblock %}

{% block content %}
<h1>{% trans 'Error del Servidor <em>(500)</em>' %}</h1>
<p>{% trans "Ha habido un error. Se ha informado a los administradores del sitio por correo electrónico y debe solucionarse en breve. Gracias por su paciencia." %}</p>

{% endblock %}