{% extends "admin/base.html" %}

{% block title %}Sitio de Administración{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">SGPA</a></h1>
{% endblock %}

{% block nav-global %}GESTOR DE PROYECTOS AGILES{% endblock %}
