{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {{ title }}
</div>
{% endblock %}

{% block content %}
<p>{% trans "Algo está mal con la instalación de su base de datos. Asegúrese de que se hayan creado las tablas de la base de datos adecuadas, y asegúrese de que la base de datos sea legible por el usuario apropiado." %}</p>
{% endblock %}