{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Control de Calidad{% endblock title %}

{% block content %}
<div class="jumbotron">

        <script>
                function myFunction(id, mostrar) {
                    var x = document.getElementById(id);
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                    var y= document.getElementById(mostrar);
                    if(y.innerText=='ocultar'){
                        y.innerText='mostrar';
                    }else{
                        y.innerText='ocultar';
                    }
                }
                </script>
                <script>
                  function resizeIframe(obj) {
                    obj.style.height = obj.contentWindow.document.body.scrollHeight + 20 + 'px';
                  }
                </script>
                <style>
                    {% for us in uss %}
                        #cambiar{{ us.id }}{
                            font-size: small;
                        }
                    {% endfor %}
                    </style>
                
                <h2 class="text-danger" align="center">Realizar Control de Calidad</h2>
                
                <form method="POST" action="">
                {% csrf_token %}
                
                {% if uss %}
                {% for us in uss %}
                    <h3 class="text-dark">{{ us }}<a style="padding-left: 2px;" id="cambiar{{ us.id }}" href="#" onclick="myFunction('control{{ us.id }}','cambiar')">mostrar/ocultar</a></h3>
                    <a id ="control{{ us.id }}">
                   <div style="padding-left: 8px;"> <b>Tipo de User Story: </b>{{ us.tablero }} del proyecto <i>{{ us.proyecto }}</i><br>
                    <b>Descripción Breve: </b>{{ us.descripcion_breve }}<br>
                    <b>Descripción Completa: </b>{{ us.descripcion_completa }}<br>
                    <span title="Prioridad: {{ us.prioridad }}
                Valor Técnico: {{ us.valor_tecnico }}
                Valor de Negocio: {{ us.valor_negocio }}"><b>Prioridad Promedio: </b>{{ us.prioridad_promedio }}</span><br>
                    <b>Usuario: </b>{{ us.usuario }}<br>
                       </div>
                    <iframe width="100%" src="/us/listar_archivos_notas/{{ us.id }}" frameborder="0" scrolling="no" onload="resizeIframe(this);reload()"></iframe>
                    <b style="padding-left: 8px">Tiempo de Finalización Estimado: </b>{{ us.tiempo_finalizacion }}<br>
                
                
                
                <div style="padding-left: 8px">
                <br>¿Desea Aprobar el US?<br>
                <input type="radio" checked name="checks{{ us.id }}[]" value="si">Aprobar<br>
                <input type="radio" checked name="checks{{ us.id }}[]" value="no">No Aprobar<br>
                    <br>
                
                </div>
                
                    
                    {% endfor %}
                {% else %}
                    <b>No hay User Stories para Control de Calidad</b>
                {% endif %}
                <div align="center">
                    {% if uss %}
                    <input type="submit" class="btn btn-success" value="Aceptar" />
                    {% else %}
                    <a class="btn btn-warning" href="/sprint/finalizar/{{ sprint.id }}">Finalizar</a>
                    {% endif %}
                    <a class="btn btn-danger" href="/proyecto/trabajo/{{ proyecto.id }}">Cancelar finalización del Sprint</a>
                    </div>
                
                </form>

    
</div>
{% endblock content %}