{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}SGPA | Control de Calidad{% endblock title %}

{% block content %}
<div class="jumbotron">

    <script>
        function resizeIframe(obj) {
          obj.style.height = obj.contentWindow.document.body.scrollHeight + 20 + 'px';
        }
      </script>
      
      <h2 >Realizar Control de Calidad: </h2>
      
      <form method="POST" action="">
      {% csrf_token %}
      {% if long != 0 %}
          {% for us in uss %}
      <iframe width="100%" src="/us/calidad/{{ us.id }}" frameborder="0" scrolling="no" onload="resizeIframe(this);reload()"></iframe>
      {% endfor %}
      {% else %}
          <b>Aprobó todos los User Stories.</b>
      {% endif %}
      <div align="center">
      <input type="submit" class="btn btn-success" value="Terminar" />
          </div>
      
      </form>

    



</div>
{% endblock content %}