<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Elegir Sprint a Importar</title>
</head>
<body>

<h2 style="background-color:#B7F4F2">Importar Sprint</h2>

<i><b>Elija el Sprint a importar...</b></i><br>
<br>
{% for sprint,mensaje in sprints %}
    {% if sprint.para_importar %}
    <a href="/sprint/importar/{{ sprint.id }}/{{ destino.id }}">Del proyecto <i>{{ sprint.proyecto }}</i> {{ mensaje }}</a><br>
    {% endif %}
{% endfor %}
<br>
<a style="font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;" href="/sprint/iniciar2/{{ proyecto.id }}" title="Continuar">No importar</a>
</body>
</html>