{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}SGPA | Finalizar Sprint{% endblock title %}

{% block content %}
<div class="jumbotron">

        <h2 class="text-danger" align="center" >Finalizar Sprint Actual</h2><br>
        <form method="post" action="">
            {% csrf_token %}
            <br>
            <div class="text-center">
            <h3 align="center" class="text-info">¿Desea finalizar el Sprint actual del proyecto "{{ proyecto.nombre }}"?</h3>
                    <br>
            </br>

                <button class="btn btn-success" type="submit">Finalizar</button>
                        <a class="btn btn-danger" href="/proyecto/trabajo/{{ proyecto.id }}" title="Ir la página anterior">Cancelar finalización del Sprint Actual</a>
            </div>

            <br>
            </br>

                        <textarea color:#000 id="reunion" name="reunion" placeholder="Observaciones..." style="height:1px;width:1%;margin-left: 0%;margin-right: 0%; border-bottom-color: rgba(162,158,143,0.39)"></textarea><br>

        </form>


</div>


{% endblock content %}