<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; URL=/sprint/iniciar2/{{ proyecto.id }}/">
    <meta name="keywords" content="automatic redirection">
    <title>Importar</title>
</head>
<body>

</body>
</html>