{% extends 'base.html' %}
{% block title %} SGPA | Elegir US{% endblock title %}

{% block content %}
<div class="jumbotron">

    <script>
        function resizeIframe(obj) {
          obj.style.height = obj.contentWindow.document.body.scrollHeight + 20 + 'px';
        }
      </script>
      
      <iframe width="100%" src="/us/elegir/{{ proyecto.id }}" frameborder="0" scrolling="no" onload="resizeIframe(this);reload()"></iframe>
      <iframe width="100%" src="/us/sprint/{{ proyecto.id }}" frameborder="0" scrolling="no" onload="resizeIframe(this);reload()"></iframe>
      {#<iframe width="100%" height="500px" src="/us/sprint/{{ proyecto.id }}" frameborder="0" ></iframe>#}
      <br>
      {% if long != 0 %}
        <div align="center">
        <a href="/proyecto/trabajo/{{ proyecto.id }}" class="btn btn-danger" title="Ir la página anterior">Finalizar</a>
          {% else %}
          <b style="color: red; padding-left: 8px">Debe tener User Stories en su Sprint Backlog para Iniciar el Sprint</b>

          {% endif %}

         <!-- <div class="text-right">

              <a  class="btn btn-danger" href="/proyecto/trabajo/{{ proyecto.id }}">Cancelar</a>
            </div>-->



      </div>
     


</div>

{% endblock content %}