{% extends 'base.html' %}

{% block title %}SGPA | Iniciar Sprint{% endblock title %}

{% load crispy_forms_tags %}
{% block content %}
<div class="jumbotron">

        <h2 class="text-danger" align="center">Crear Sprint</h2><br>

        
    
    <div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <p style="color:#F39C12;"{% if message.tags %} class="{{ message.tags }}"{% endif %} ><i class="fas fa-exclamation-triangle"></i> {{ message }}</p>
        {% endfor %}
    </ul>
    {% endif %}
    </div>




    <form method="POST">
     <div class="form-group">
            {% csrf_token %}
            {{form2}}
        <p><label for="id_fecha_fin_est">Fecha de finalizacion estimada:</label> <input type="text" class="form-control" name="fecha_fin_est" id="id_fecha_fin_est" /></p>
    
    
    {% for usuario in usuarios %}
        {% if usuario.id_rol.nombre != 'owner' %}
        <table class="table table-borderless table-dark">
        <tbody>
            <tr class="bg-info">
                <td >
                    <h4 class="text-white"><input type="checkbox" name="checks[]" value="{{ usuario.id }}"> {{ usuario}}</h4>
                    <input type="number" class="form-control" name="cantidad{{ usuario.id }}" min="1" placeholder="Cantidad en Horas de Trabajo"></p>
                    <div align="left"><iframe frameborder="0" width="95%" height="37px" src="/sprint/horas/{{ usuario.id }}/{{ proyecto.id }}"></iframe></div>
                </td>
            </tr>
        </tbody> 
    </table>
        {% endif %}
    {% endfor %}
    <br>
    <div class="text-right">
        <input class="btn btn-success" type="submit" value="Continuar con Iniciar Sprint" name="iniciar" />
       <!-- <input class="btn btn-info" type="submit" value="Importar Sprint" name="importar" />-->
        <a  class="btn btn-danger" href="/proyecto/trabajo/{{ proyecto.id }}">Cancelar</a>
    </div>
    </div>
    </form>


</div>
{% endblock content %}