<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adjuntar Reunión Retrospectiva</title>
</head>
<body>

<form method="post" action="">
    {% csrf_token %}
{#    {{ form.as_p }}#}
            <textarea id="reunion" name="reunion" placeholder="Escriba la reunión retrospectiva..." style="height:200px;width:94%;margin-left: 3%;margin-right: 3%"></textarea><br>
  <div align="center">
      <input style="font:13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;" type="submit" value="Adjuntar Reunión Retrospectiva">
      </div>
{#<button type="submit" value="{{ form.reunion }}">Adjuntar Nota</button>#}
</form>

</body>
</html>