<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sprints Anteriores</title>
</head>
<body>

<h3 style="background-color:#B7F4F2">Sprints Finalizados del Proyecto <i>{{ sprint.proyecto }}</i></h3>

<table style="width:100%;  border-collapse: collapse;padding: 15px; border-bottom: 1px solid #ddd;">

<th style="height:50px; width:10%;background-color: #B7F4F2">Fecha de Inicio</th>
    <th style="height:50px; background-color: #c3fdff">Fecha de Finalización</th>
<th style="height:50px; background-color: #B7F4F2">Fecha de Finalización Estimada</th>
<th style="height:50px; background-color: #c3fdff">User Stories</th>
    {% for sprint,mensaje in sprints %}
    <tr style="border-bottom: 1px solid #ddd; text-align: center" >
        <td>{{ sprint.fecha_ini }}</td>
    <td>{{ sprint.fecha_fin }}</td>
    <td>{{ sprint.fecha_fin_est }}</td>
    <td>{{ mensaje }}</td>
    </tr>
{% endfor %}
</table>
<br>
<div align="center">
<input type="button" class="btn btn-success"
                       style="  font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;"
                       value="Cerrar"
                       onclick="closeMe()">
</div>
<script>
function closeMe()
{
    window.opener = self;
    window.close();
}
</script>




</body>
</html>
