<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ver reuniones</title>
</head>
<body>
Reuniones:<br>
{% for reunion in reuniones %}
    ✰ {{ reunion }} - Fecha de Creación: {{ reunion.fecha }}<br>
{% endfor %}
</body>
</html>