<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, \
        initial-scale=1, shrink-to-fit=no">
    
        <!--FONT AWESOME-->
    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
    
    
         
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
        <title>{% block title %}SGPA|Añadir al Sprint Backlog{% endblock title %}</title>
      </head>
<body >

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins"
  rel="stylesheet">
   <style>
   body {
     font-family: 'Poppins', serif;
   }
   </style>

  <div class="container">
    <div class="jumbotron">

<h3 class="text-dark" align="center">Elegir Team Member y Tipo de User Story para el US: <b>{{ us }}</b></h3>
<br>
<form method="post" action="">
{% csrf_token %}
Team Member:
<select class="form-control form-control-sm col-md-4" name="usuario">
  {%  for usuario in usuarios.all %}
          <option value="{{ usuario }}">{{ usuario }}</option>
          {% endfor %}
</select><br><br>

Tipo de User Story de <b>{{ us }}</b>:
<select  class="form-control form-control-sm col-md-4" name="tablero">
{% if us.estado == 0 %}
  {%  for tablero in tableros.all %}
          <option value="{{ tablero.id }}">{{ tablero }}</option>
          {% endfor %}
{% else %}
      <option value="{{ us.tablero.id }}">{{ us.tablero }}</option>
{% endif %}
</select><br>
<div class="text-left">
<br><h4 class="text-danger" align="left">Horas disponibles por Team Member para el Sprint: </h4>
    {% for usuario, suma in sumas %}
        {% if suma > 0 %}
        <i class="fas fa-user"></i> El miembro <b>{{ usuario }}</b> tiene <b>{{ suma }}</b> horas por dia disponibles en el Sprint <br>
        {% elif suma < 0 %}
        <i class="fas fa-user"></i> El miembro <b>{{ usuario }}</b> ya tiene cubiertas <b>{% widthratio suma 1 -1 %}</b> horas más de las que tiene disponibles en el Sprint <br>
        {% else %}
        <i class="fas fa-user"></i> El miembro <b>{{ usuario }}</b> ya tiene sus horas exactamente cubiertas <br>
        {% endif %}
{% endfor %}
</div>

<div class="text-right">
<br>
<button class="btn btn-success">Añadir</button>
    <a class="btn btn-danger" href="/sprint/iniciar2/{{ proyecto.id }}" title="Ir la página anterior">Cancelar</a>
</div>

</form>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"\ integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4\
    YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/\
    JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </div>
  </div>
</body>
</html>