<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buscar US</title>
</head>
<body>

<form method="POST" action="">
{% csrf_token %}
  <div class="form-group">
       <div class="col-lg-5">
  <input type="text" name="buscalo" class="form-control" size="40" placeholder="Ingrese descripción breve del US a buscar">
       </div><br>
       <label class="col-lg-2">
            <button type="submit" class="btn btn-danger">Buscar</button>
       </label>
  </div>
</form><br><br>
<div>
    {% if messages %}
        <ul class="messages">
            {% for k in messages %}
            <li style="color: red">{{ k }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</div><br>
    <div style="color: blue">

        {% if sr %}
            {% for k in sr %}
            <table border="0px" width="500px">
            <tr>
                <td><b>Descripción Breve:</b></td>
                <td>{{ k.descripcion_breve }}</td>
            </tr>
            <tr>
                <td><b>Descripcion Completa:</b></td>
                <td>{{ k.descripcion_completa }}</td>
            </tr>
            <tr>
                <td><b>Tiempo de Finalización Estimado:</b></td>
                <td>{{ k.tiempo_finalizacion }}</td>
            </tr>
            <tr>
                <td><b>Valor de Negocio:</b></td>
                <td>{{ k.valor_negocio }}</td>
            </tr>
            <tr>
                <td><b>Prioridad:</b></td>
                <td>{{ k.prioridad }}</td>
            </tr>
            <tr>
                <td><b>Valor Técnico:</b></td>
                <td>{{ k.valor_tecnico }}</td>
            </tr>
            <tr>
                <td><b>Prioridad Promedio:</b></td>
                <td>{{ k.prioridad_promedio }}</td>
            </tr>
            <tr>
                <td><b>Fecha de Creación:</b></td>
                <td>{{ k.fecha_creacion }}</td>
            </tr>
            <tr>
                <td><b>Usuario Encargado:</b></td>
                <td>{{ k.usuario }}</td>
            </tr>
            </table>
        <hr>
            {% endfor %}
        {% endif %}
    </div>

</body>
</html>