<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Control Calidad</title>
            <!-- Google Font -->
          <link href="https://fonts.googleapis.com/css?family=Poppins"rel="stylesheet">
            <style>
                body {
              font-family: 'Poppins', serif;
                }
            </style>
</head>
<body>
<div align="center" style="border: 2px solid #a6dfdd;
    border-radius: 6px; padding: 10px; margin-left: 6%;margin-right: 6%">
    <b>Listo.</b> El User Story {{ us }} ya se movió a la fase y al estado especificado.
</div>
</body>
</html>