<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, \
        initial-scale=1, shrink-to-fit=no">
    
        <!--FONT AWESOME-->
    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
    
        <!-- Google Font -->
          <link href="https://fonts.googleapis.com/css?family=Poppins"rel="stylesheet">
            <style>
                body {
              font-family: 'Poppins', serif;
                }
            </style>
    
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
        <title>{% block title %}Newspaper App{% endblock title %}</title>
    </head>
<body class="jumbotron">
 
<form method="POST" action="">
{% csrf_token %}

<div align="left" style="border: 2px solid #a6dfdd;
    border-radius: 6px; padding: 10px; margin-left: 6%;margin-right: 6%">
  <H2>  <a>User Story: <b style="color: #b20e25">{{ us }}</b></a></H2>
<H2>Tipo de US: <a style="color: #103481"><b>{{ tablero }}</b><a><br><br></H2>

<b>Fase Actual: </b><a style="color: #103481"><b> {{ us.fase }}</b><a><br>
<b>Seleccione una Fase:</b> <select class="form-control form-control-sm col-md-4" name="fase">
  {%  for fase in fases %}
          <option value="{{ fase.id }}">{{ fase }}</option>
          {% endfor %}
</select><br><br>

<b>Estado Actual: </b><b style="color: #103481">Done</b><br>



    <b>Seleccione un Estado:</b> <select class="form-control form-control-sm col-md-4" name="estado" >
    <option value="1">To Do</option>
    <option value="2">Doing</option>
    <option value="3">Done</option>
</select><br><br>
<b>Tiempo de Finalización Estimado: </b>{{ us.tiempo_finalizacion }}<br>
<b>Tiempo de Trabajo Real: </b><a style="color: red"> {{ tiempo }}</a><br><br>

<b>Ingrese nueva duración del User Story: </b><input class="form-control form-control-sm col-md-4" id="number" name="tiempo" type="number" value="{{ us.tiempo_finalizacion }}" placeholder="Duración estimada del US" min="0"><br><br>

<div class="text-right">
<input type="submit" class="btn btn-danger" value="Confirmar Control de Calidad" />
   </div>
</div>
</form>







  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"\ integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4\
    YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/\
    JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
</body>

</html>