{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, \
        initial-scale=1, shrink-to-fit=no">
    
        <!--FONT AWESOME-->
    
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
    
    
         <!-- Google Font -->
         <link href="https://fonts.googleapis.com/css?family=Poppins"rel="stylesheet">
          
    
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    
        <title>{% block title %}SGPA|Crear US{% endblock title %}</title>
      </head>
<body class="jumbotron">

    <style>
        body {
          font-family: 'Poppins', serif;
        }
        </style>
        
{% comment %}

<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
<nav>
<a href="/menu">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu">Inicio</a> >
    <a href="/proyecto/trabajo/{{ proyecto.id }}"style="color: #ff6c29">{{ proyecto }}</a> >
    <a style="color: #000;">Crear User Story</a>
</nav>
</header>
{% endcomment %}

<h2 class="text-danger" align="center" >Crear User Story</h2>

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy}}
    {% comment %}  <select name="select">
  {%  for usuario in usuarios.all %}
          <option value="{{ usuario }}">{{ usuario }}</option>
          {% endfor %}
</select><br><br>{% endcomment %}
<div class="text-right">

    <button type="submit" class="btn btn-success">Crear</button>
    <a href="javascript:history.back(-1);" class="btn btn-danger" title="Ir la página anterior">Cancelar</a>


</div>
    
  </form>

{% endblock %}

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"\ integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4\
    YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/\
    JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>


































<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear US</title>
</head>
<body>
{% comment %}

<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
<nav>
<a href="/menu">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu">Inicio</a> >
    <a href="/proyecto/trabajo/{{ proyecto.id }}"style="color: #ff6c29">{{ proyecto }}</a> >
    <a style="color: #000;">Crear User Story</a>
</nav>
</header>
{% endcomment %}

<h2 style="background-color:#B7F4F2">Crear User Story</h2>


  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    {% comment %}  <select name="select">
  {%  for usuario in usuarios.all %}
          <option value="{{ usuario }}">{{ usuario }}</option>
          {% endfor %}
</select><br><br>{% endcomment %}
    <button type="submit" style="font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;">Crear</button>
  <a href="javascript:history.back(-1);" style="font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;" title="Ir la página anterior">Cancelar</a>
  </form>



</body>
</html>-->