{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}SGPA | Cambio de Estado{% endblock title %}

{% block content %}
<div class="jumbotron">

    <h2 class="text-danger" align="center">Cambio de Estado</h2><br>
    <h6 class="text-danger" align="center">Establezca una Observacion y el Tiempo trabajado en Horas</h6><br>
    <h5>Observaciones</h5>
    <form method="post" action="">
        {% csrf_token %}
        <textarea id="d" name="d" required placeholder="Escriba las Observaciones del cambio de Estado..." style="height:50px;width:94%;margin-left: 3%;margin-right: 3%"></textarea><br>
        {{ form|crispy}}
        <div class="text-right">
        <button type="submit" class="btn btn-success">Aceptar</button>
        <a href="/tablero/ver/{{ tab_id }}" class="btn btn-danger" title="Cancelar">Cancelar</a>
      </div>
    </form>



</div>
{% endblock content %}