{% extends 'base.html' %}

{% block title %}SGPA | Eliminar User Stories{% endblock title %}

{% block content %}
<div class="jumbotron">
        
        
            <h2 class="text-danger" align="center">Eliminar User Story</h2>
            
            <form method="post" action="">
                {% csrf_token %}
                <h3>Desea eliminar el User Story de {{ us }} ?</h3>
                <button class="btn btn-danger" type="submit">Eliminar</button>


                    <!-- Button to Open the Modal -->





                <a href="javascript:history.back(-1);" class="btn btn-success" title="Ir la página anterior">Cancelar</a>
                <input type="button" class="btn btn-primary"
                                   style="font-weight: bold;display: inline;"
                                   value="Cerrar"
                                   onclick="closeMe()">
            <script>
            function closeMe()
            {
                window.opener = self;
                window.close();
            }
            </script>
            
        
</div>
{% endblock content %}












































<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eliminar User Story</title>
</head>
<body>
{% comment %}
<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
<nav>
<a href="/menu">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu">Inicio</a> >
    <a style="color: #ff6c29">User Story</a> >
    <a style="color: #000;">Eliminar User Story</a>
</nav>
</header>{% endcomment %}

<h2 style="background-color:#B7F4F2">Eliminar User Story</h2>

<form method="post" action="">
    {% csrf_token %}
    <h3>Desea eliminar el User Story de {{ us }} ?</h3>
    <button class="btm btn-danger" type="submit">Si, eliminar</button>
    <a href="javascript:history.back(-1);" style="  font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;" title="Ir la página anterior">No, volver a la Página Anterior</a>
    <input type="button" class="btn btn-success"
                       style="font-weight: bold;display: inline;"
                       value="Cerrar"
                       onclick="closeMe()">
<script>
function closeMe()
{
    window.opener = self;
    window.close();
}
</script>

</body>
</html>-->