<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Stories Finalizados</title>
</head>
<body>

<h3 style="background-color:#B7F4F2">User Stories Finalizados</h3>

<table style="width:100%;  border-collapse: collapse;padding: 15px; border-bottom: 1px solid #ddd;">

<th style="height:50px; width:10%;background-color: #B7F4F2">Prioridad Promedio</th>
    <th style="height:50px; background-color: #c3fdff">Descripción</th>
<th style="height:50px; background-color: #B7F4F2">Prioridad</th>
<th style="height:50px; background-color: #c3fdff">Valor Técnico</th>
<th style="height:50px; background-color: #B7F4F2">Valor de Negocio</th>
<th style="height:50px; background-color: #c3fdff">Duración Estimada</th>
<th style="height:50px; background-color: #B7F4F2">Duración Real</th>
{#<th style="height:50px; background-color: #c3fdff">Team Member</th>#}
<th style="height:50px; background-color: #B7F4F2">Tipo de US</th>
    {% for us,tiempo in uss %}
    <tr style="border-bottom: 1px solid #ddd; text-align: center" >
        <td>{{ us.prioridad_promedio }}</td>
                    <td><span title="{{ us.descripcion_completa }}">{{ us.descripcion_breve }}</span></td>

    <td>{{ us.prioridad }}</td>
    <td>{{ us.valor_tecnico }}</td>
    <td>{{ us.valor_negocio }}</td>
        <td>{{ us.tiempo_finalizacion }}</td>
         <td>
        {% comment %}{% if us.estado == 0 %}
        No iniciado
        {% else %}
        Iniciado
        {% endif %}{% endcomment %}
             {{ tiempo }}
    </td>
{#    <td>{{ us.usuario }}</td>#}
    <td>{{ us.tablero }}</td>
    </tr>
{% endfor %}
</table>
<br>
<div align="center">
<input type="button" class="btn btn-success"
                       style="  font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;"
                       value="Cerrar"
                       onclick="closeMe()">
</div>
<script>
function closeMe()
{
    window.opener = self;
    window.close();
}
</script>


</body>
</html>