{% extends 'base.html' %}
{% block title %}SGPA | Horas Reales Trabajadas{% endblock title %}



{% block content %}

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $("#btnPrint").live("click", function () {
            var divContents = $("#dvContainer").html();
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title>SGPA (Sistema de Gestion de Proyectos Agiles)</title>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
            printWindow.close();
        });
    </script>
<div class="jumbotron">

        <form id="form1">
                <div id="dvContainer">
            
                    <h3 align="center">Horas Reales Trabajadas: {{ total }} horas</h3>
                    <h4>Por Sprint</h4>
        <table class="table table-striped">
            <thead style="background-color:#1c87c9; color:#fff;">
                <tr>
                        <th>Fecha de Inicio</th>
                        <th>Fecha de Finalización</th>
                        <th>Fecha de Finalización Estimada</th>
                        <th>Horas Reales Trabajadas</th>

                </tr>
            </thead>
            <tbody>
                    {% for sprint,suma in sprints %}
                    <tr style="border-bottom: 1px solid #ddd; text-align: center" >
                        <td>{{ sprint.fecha_ini }}</td>
                    {% if sprint.fecha_fin %}
                        <td>{{ sprint.fecha_fin }}</td>
                        {% else %}
                        <td><a style="color:red;">Aún Activo</a></td>
                        {% endif %}
                    <td>{{ sprint.fecha_fin_est }}</td>
                    <td>{{ suma }}</td>
                    </tr>
                {% endfor %}

            </tbody>
            
            
                
            </table>
            
                <br>
                <h4 >Por User Story</h4>
            <table class="table table-striped">
                <thead style="background-color:#1c87c9; color:#fff;">
                    <tr>
                            <th>Prioridad Promedio</th>
                            <th>Descripción</th>
                            <th>Prioridad</th>
                            <th>Valor Técnico</th>
                            <th>Valor de Negocio</th>
                            <th>Duración Estimada</th>
                            <th>Estado</th>
                            <th>Horas Reales Trabajadas</th>

                    </tr>
                </thead>
                <tbody>
                        {% for us,hora in uss%}
                <tr style="border-bottom: 1px solid #ddd; text-align: center" >
                    <td>{{ us.prioridad_promedio }}</td>
                                <td><span title="{{ us.descripcion_completa }}">{{ us.descripcion_breve }}</span></td>
            
                <td>{{ us.prioridad }}</td>
                <td>{{ us.valor_tecnico }}</td>
                <td>{{ us.valor_negocio }}</td>
                <td>{{ us.tiempo_finalizacion }}</td>
                <td>
                    {% if us.estado == 0 %}
                    No iniciado
                    {% else %}
                    Iniciado
                    {% endif %}
                </td>
                <td>{{ hora }}</td>
                </tr>
            {% endfor %}

                </tbody> 
            </table>
                <br>
                <h4>Por Team Member</h4>
        <table class="table table-striped">
            <thead style="background-color:#1c87c9; color:#fff;">
                <tr>
                        <th>Nombre de Usuario</th>
                        <th>Nombre y Apellido</th>
                        <th>Correo electrónico</th>
                        <th>CI</th>
                        <th>Teléfono</th>
                        <th>Dirección</th>
                        <th>Descripción</th>
                        <th>Rol</th>
                        <th>Horas Reales Trabajadas</th>
                </tr>
            </thead>
            <tbody>
                    {% for usuario,hora in usuarios%}
                    {% if usuario.id_rol.nombre != 'owner' %}
                <tr style="border-bottom: 1px solid #ddd; text-align: center" >
                    <td>{{ usuario }}</td>
                    <td>{{ usuario.id_usuario.user.first_name }} {{ usuario.id_usuario.user.last_name }}</td>
            
                <td>{{ usuario.id_usuario.user.email }}</td>
                <td>{{ usuario.id_usuario.user.usuario.ci }}</td>
                <td>{{ usuario.id_usuario.user.usuario.telefono }}</td>
                <td>{{ usuario.id_usuario.user.usuario.direccion }}</td>
                <td>
                    {{ usuario.id_usuario.user.usuario.descripcion }}
                </td>
                    <td>{{ usuario.id_rol }}</td>
                <td>{{ hora }}</td>
                </tr>
                    {% endif %}
            {% endfor %}

            </tbody>
            
            
                
            </table>
            
                </div><br>
            <div align="center"> 
                <input class="btn btn-info" type="button" value="Guardar como PDF" id="btnPrint" />
                <a class="btn btn-warning" href="/proyecto/trabajo/{{ proyecto.id }}" >Volver a {{ proyecto.nombre  }}</a>

            </div>
                </form>
</div>

{% endblock content %}