<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Horas</title>
</head>
<body>
<div align="center"> <b style="color: red">Horas reales trabajadas: {{ tiempo }}</b></div>
</body>
</html>