<!DOCTYPE html>
<html lang="en">
        <head>
                <!-- Required meta tags -->
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, \
                initial-scale=1, shrink-to-fit=no">
            
                <!--FONT AWESOME-->
            
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
            
            
            <!-- Google Font -->
                     <link href="https://fonts.googleapis.com/css?family=Poppins"rel="stylesheet">
                    <style>
                        body {
                        font-family: 'Poppins', serif;
                        }
                    </style>
            
            
                <!-- Bootstrap CSS -->
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
                  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            
                <title>{% block title %}Newspaper App{% endblock title %}</title>
              </head>
<body class="jumbotron">

    <h4 class="text-danger" >Archivos Adjuntos</h4>
<table class="table table-striped">
        <thead>
                <tr>
                        <th>Título</th>
                        <th>Fecha</th>
                        <th>Nombre del Archivo</th>
                        <th>Usuario</th>
                </tr>
              </thead>
              <tbody>
                    {% for archivo in archivos %}
                        <tr>
                        <td>{{ archivo }}</td>
                        <td>{{ archivo.fecha }}</td>
                        <td><a href="/media/{{ archivo.archivo }}">{{ archivo.archivo }}</a></td>
                        <td>{{ archivo.usuario }}</td>
                    </tr>
                    {% endfor %}
                <tbody>
        </table>

<h4 class="text-danger" >Notas Adjuntas</h4>
<table class="table table-striped">
        <thead>
                <tr>
                        <th>Nota</th>
                        <th>Fecha</th>
                        <th>Usuario</th>
                </tr>
              </thead>
              <tbody>
                    {% for nota in notas %}
                    <tr>
                        <td>{{ nota }}</td>
                        <td>{{ nota.fecha }}</td>
                        <td>{{ nota.usuario }}</td>
                    </tr>
                    {% endfor %}
              </tbody>
</table>

<h4 class="text-danger" >Cambios de Estado</h4>
<table class="table table-striped">
        <thead>
                <tr>
                        <th>Observacion</th>
                        <th>Tiempo</th>
                        <th>Acción en el Tipo de User Story</th>
                        <th>Fase Anterior</th>
                        <th>Estado Anterior</th>
                        <th>Usuario Encargado</th>
                        <th>Fecha</th>
                </tr>
        </thead>
        <tbody>
                {% for daily in dailys %}
                <tr>
                    <td>{{ daily.daily }}</td>
                    <td>{{ daily.tiempo }}</td>
                        {% if daily.avanza %}
                            <td>Avanzar</td>
                        {% else %}
                            <td>Retroceder</td>
                        {% endif %}
                        <td>{{ daily.fase }}</td>
                        {% if daily.estado == 1 %}
                            <td>To Do</td>
                        {% elif daily.estado == 2 %}
                            <td>Doing</td>
                            {% elif daily.estado == 3 %}
                            <td>Done</td>
                        {% endif %}
                            <td>{{ daily.usuario }}</td>
                            <td>{{ daily.fecha }}</td>
                </tr>
                {% endfor %}

        </tbody>
</table>
<br>
<b>Tiempo de Trabajo Real: </b>{{ tiempo }}

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"\ integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4\
    YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/\
    JmZQ5stwEULTy" crossorigin="anonymous"></script>





</body>
</html>