{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}SGPA | Modificar User Stories{% endblock title %}

{% block content %}
<div class="jumbotron">
        
        
              
          
          <h2 class="text-danger" align="center">Modificar User Story</h2>
          
          
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {{ modificar_us_form|crispy }}
                {% comment %}<select name="select">
            {%  for usuario in usuarios.all %}
                    <option value="{{ usuario }}">{{ usuario }}</option>
                    {% endfor %}
                </select><br><br>{% endcomment %}
                <div class="text-right">
              <button class="btn btn-success ml-2" type="submit" name="save">Modificar</button>
              <a href="javascript:history.back(-1);" class="btn btn-danger" title="Ir la página anterior">Cancelar</a>
              </div>
            </form>
          
        
</div>
{% endblock content %}












































<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modificar User Story</title>
</head>
<body>

<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
<nav>
<a href="/menu">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu">Inicio</a> >
    <a style="color: #ff6c29">User Story</a> >
    <a style="color: #000;">Modificar User Story</a>
</nav>
</header>

<h2 style="background-color:#B7F4F2">Modificar User Story</h2>


  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ modificar_us_form.as_p }}
      {% comment %}<select name="select">
  {%  for usuario in usuarios.all %}
          <option value="{{ usuario }}">{{ usuario }}</option>
          {% endfor %}
      </select><br><br>{% endcomment %}
    <button type="submit" name="save">Modificar</button>
  </form>



</body>
</html>-->