{% extends 'base.html' %}

{% block title %}SGPA | Product Backlog{% endblock title %}

{% block content %}
<div class="jumbotron">
        
    <h3 style=""> Product Backlog{% if is_scrum and proyecto.estado != 'INA' %}<div style="text-align:RIGHT"><a href="/us/crear/{{ proyecto.id }}" style="font-size: small; padding: 5px">añadir user story <i class="fas fa-plus-circle"></i></a></div>{% endif %}</h3>

<div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <font color="red"><b>
            <li style="list-style:none;" {% if message.tags %} class="{{ message.tags }}"{% endif %}><i class="fas fa-exclamation-triangle"></i> {{ message }}</li>

    </b>

    </font>
    {% endfor %}
</ul>
{% endif %}
</div>

<table class="table table-striped" style="width:100%;  border-collapse: collapse;padding: 15px; border-bottom: 1px solid #ddd;">

        <thead style="background-color:#1c87c9; color:#fff;">
            <tr>
                <th>Prioridad Promedio</th>
                <th>Descripción</th>
                <th>Prioridad</th>
                <th>Valor Técnico</th>
                <th>Valor de Negocio</th>
                <th>Duración Estimada</th>
                <th>Estado</th>
                {#<th>Team Member</th>#}
                {% if is_scrum %}
                <th>Acciones</th>
                {% endif %}
            
            </tr> 
        </thead>
        <tbody>
                {% for no_aprob in us_no_aprob%}
                <tr style="border-bottom: 1px solid #ddd; text-align: center" >
                    <td>{{ no_aprob.prioridad_promedio }}</td>
                                <td><span title="{{ no_aprob.descripcion_completa }}">{{ no_aprob.descripcion_breve }}</span></td>
            
                <td>{{ no_aprob.prioridad }}</td>
                <td>{{ no_aprob.valor_tecnico }}</td>
                <td>{{ no_aprob.valor_negocio }}</td>
                <td>{{ no_aprob.tiempo_finalizacion }}</td>
                <td style="color: red">
                    Iniciado
                    <iframe src="/us/horas/{{ no_aprob.id }}" style="border:none; height: 34px; width: 247px"></iframe>
                </td>
            {#    <td>{{ us.usuario }}</td>#}
                    {% if is_scrum %}
                <td style="padding-top: 10px">{#<a href="/us/add/{{ us.id }}">Añadir al Tablero</a>#}
                        Un User Story ya iniciado no puede ser modificado, ni eliminado.
                    <!--<p><a href="/us/modificar/{{ no_aprob.id }}" target="_parent">Modificar User Story</a></p>
                    <p><a style="padding-bottom: 10px" href="/us/eliminar/{{ no_aprob.id }}" target="_parent">Eliminar User Story</a></p>-->
                    {% endif %}
                </td>
                </tr>
            {% endfor %}
            
            
             {% for no_l in us_no_llegaron%}
                <tr style="border-bottom: 1px solid #ddd; text-align: center" >
                    <td>{{ no_l.prioridad_promedio }}</td>
                                <td><span title="{{ no_l.descripcion_completa }}">{{ no_l.descripcion_breve }}</span></td>
            
                <td>{{ no_l.prioridad }}</td>
                <td>{{ no_l.valor_tecnico }}</td>
                <td>{{ no_l.valor_negocio }}</td>
                <td>{{ no_l.tiempo_finalizacion }}</td>
                <td style="color: red">
                    Iniciado
                    <iframe src="/us/horas/{{ no_l.id }}" style="border:none; height: 34px; width: 247px"></iframe>
                </td>
            {#    <td>{{ us.usuario }}</td>#}
                    {% if is_scrum %}
                <td style="padding-top: 10px">{#<a href="/us/add/{{ us.id }}">Añadir al Tablero</a>#}
                        Un User Story ya iniciado no puede ser modificado, ni eliminado.
                 <!--<p><a href="/us/modificar/{{ no_l.id }}" target="_parent">Modificar User Story</a></p>
                    <p><a style="padding-bottom: 10px" href="/us/eliminar/{{ no_l.id }}" target="_parent">Eliminar User Story</a></p>-->
                    {% endif %}
                </td>
                </tr>
            {% endfor %}
            
            
            
                {% for us in uss%}
                <tr style="border-bottom: 1px solid #ddd; text-align: center" >
                    <td>{{ us.prioridad_promedio }}</td>
                                <td><span title="{{ us.descripcion_completa }}">{{ us.descripcion_breve }}</span></td>
            
                <td>{{ us.prioridad }}</td>
                <td>{{ us.valor_tecnico }}</td>
                <td>{{ us.valor_negocio }}</td>
                <td>{{ us.tiempo_finalizacion }}</td>
                <td>
                    {% if us.estado == 0 %}
                    No iniciado
                    {% else %}
                    Iniciado
                        <iframe src="/us/horas/{{ us.id }}" style="border:none; height: 34px; width: 247px"></iframe>
                    {% endif %}
                </td>
            {#    <td>{{ us.usuario }}</td>#}
                    {% if is_scrum %}
                <td style="padding-top: 10px">{#<a href="/us/add/{{ us.id }}">Añadir al Tablero</a>#}
                    <p><a href="/us/modificar/{{ us.id }}" target="_parent">Modificar User Story</a></p>
                    <p><a style="padding-bottom: 10px" href="/us/eliminar/{{ us.id }}" target="_parent">Eliminar User Story</a></p>
                    {% endif %}
                </td>
                </tr>
            {% endfor %}
        </tbody>
    
</table>

<br>

<div align="center">
<input type="button" class="btn btn-danger"
                       
                       value="Cerrar"
                       onclick="closeMe()">
</div>
<script>
function closeMe()
{
    window.opener = self;
    window.close();
}
</script>
        
</div>
{% endblock content %}
































































<!--<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Backlog hola</title>
</head>

<h3 style="background-color:#B7F4F2"> Product Backlog{% if is_scrum and proyecto.estado != 'INA' %}<a href="/us/crear/{{ proyecto.id }}" style="font-size: small; padding: 5px">añadir user story</a>{% endif %}</h3>

<div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>

<table style="width:100%;  border-collapse: collapse;padding: 15px; border-bottom: 1px solid #ddd;">

<th style="height:50px; width:10%;background-color: #B7F4F2">Prioridad Promedio</th>
    <th style="height:50px; background-color: #c3fdff">Descripción</th>
<th style="height:50px; background-color: #B7F4F2">Prioridad</th>
<th style="height:50px; background-color: #c3fdff">Valor Técnico</th>
<th style="height:50px; background-color: #B7F4F2">Valor de Negocio</th>
<th style="height:50px; background-color: #c3fdff">Duración Estimada</th>
<th style="height:50px; background-color: #B7F4F2">Estado</th>
{#<th style="height:50px; background-color: #c3fdff">Team Member</th>#}
    {% if is_scrum %}<th style="height:50px; background-color: #c3fdff">Acciones</th>{% endif %}

     {% for no_aprob in us_no_aprob%}
    <tr style="border-bottom: 1px solid #ddd; text-align: center" >
        <td>{{ no_aprob.prioridad_promedio }}</td>
                    <td><span title="{{ no_aprob.descripcion_completa }}">{{ no_aprob.descripcion_breve }}</span></td>

    <td>{{ no_aprob.prioridad }}</td>
    <td>{{ no_aprob.valor_tecnico }}</td>
    <td>{{ no_aprob.valor_negocio }}</td>
    <td>{{ no_aprob.tiempo_finalizacion }}</td>
    <td style="color: red">
        Iniciado
        <iframe src="/us/horas/{{ no_aprob.id }}" style="border:none; height: 34px; width: 247px"></iframe>
    </td>
{#    <td>{{ us.usuario }}</td>#}
        {% if is_scrum %}
    <td style="padding-top: 10px">{#<a href="/us/add/{{ us.id }}">Añadir al Tablero</a>#}
            Un User Story ya iniciado no puede ser modificado, ni eliminado.
       --> <!--<p><a href="/us/modificar/{{ no_aprob.id }}" target="_parent">Modificar User Story</a></p>
        <p><a style="padding-bottom: 10px" href="/us/eliminar/{{ no_aprob.id }}" target="_parent">Eliminar User Story</a></p>-->
       <!-- {% endif %}
    </td>
    </tr>
{% endfor %}


 {% for no_l in us_no_llegaron%}
    <tr style="border-bottom: 1px solid #ddd; text-align: center" >
        <td>{{ no_l.prioridad_promedio }}</td>
                    <td><span title="{{ no_l.descripcion_completa }}">{{ no_l.descripcion_breve }}</span></td>

    <td>{{ no_l.prioridad }}</td>
    <td>{{ no_l.valor_tecnico }}</td>
    <td>{{ no_l.valor_negocio }}</td>
    <td>{{ no_l.tiempo_finalizacion }}</td>
    <td style="color: red">
        Iniciado
        <iframe src="/us/horas/{{ no_l.id }}" style="border:none; height: 34px; width: 247px"></iframe>
    </td>
{#    <td>{{ us.usuario }}</td>#}
        {% if is_scrum %}
    <td style="padding-top: 10px">{#<a href="/us/add/{{ us.id }}">Añadir al Tablero</a>#}
            Un User Story ya iniciado no puede ser modificado, ni eliminado.
       --> <!--<p><a href="/us/modificar/{{ no_l.id }}" target="_parent">Modificar User Story</a></p>
        <p><a style="padding-bottom: 10px" href="/us/eliminar/{{ no_l.id }}" target="_parent">Eliminar User Story</a></p>-->
       <!-- {% endif %}
    </td>
    </tr>
{% endfor %}



    {% for us in uss%}
    <tr style="border-bottom: 1px solid #ddd; text-align: center" >
        <td>{{ us.prioridad_promedio }}</td>
                    <td><span title="{{ us.descripcion_completa }}">{{ us.descripcion_breve }}</span></td>

    <td>{{ us.prioridad }}</td>
    <td>{{ us.valor_tecnico }}</td>
    <td>{{ us.valor_negocio }}</td>
    <td>{{ us.tiempo_finalizacion }}</td>
    <td>
        {% if us.estado == 0 %}
        No iniciado
        {% else %}
        Iniciado
            <iframe src="/us/horas/{{ us.id }}" style="border:none; height: 34px; width: 247px"></iframe>
        {% endif %}
    </td>
{#    <td>{{ us.usuario }}</td>#}
        {% if is_scrum %}
    <td style="padding-top: 10px">{#<a href="/us/add/{{ us.id }}">Añadir al Tablero</a>#}
        <p><a href="/us/modificar/{{ us.id }}" target="_parent">Modificar User Story</a></p>
        <p><a style="padding-bottom: 10px" href="/us/eliminar/{{ us.id }}" target="_parent">Eliminar User Story</a></p>
        {% endif %}
    </td>
    </tr>
{% endfor %}
</table>

<br>

<div align="center">
<input type="button" class="btn btn-success"
                       style="  font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;"
                       value="Cerrar"
                       onclick="closeMe()">
</div>
<script>
function closeMe()
{
    window.opener = self;
    window.close();
}
</script>

</body>
</html>-->