<body class="jumbotron">
<!DOCTYPE html>
<html lang="en">
        <head>
                <!-- Required meta tags -->
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, \
                initial-scale=1, shrink-to-fit=no">
            
                <!--FONT AWESOME-->
            
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
            
            
            
                 <!-- Google Font -->
                 <link href="https://fonts.googleapis.com/css?family=Poppins"rel="stylesheet">
                  
            
            
                <!-- Bootstrap CSS -->
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
                  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            
                <title>{% block title %}Product Backlog{% endblock title %}</title>
              </head>

<div>
        <style>
                body {
                  font-family: 'Poppins', serif;
                }
                </style>

<h3>Product Backlog {% if is_scrum %}
    <a href="/us/crear2/{{ proyecto.id }}" style="font-size: small; padding: 5px">añadir user story</a>{% endif %}</h3>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>

<table class="table table-striped">
        <thead style="background-color:#1c87c9; color:#fff;">
            <tr>
                    <th>Prioridad Promedio</th>
                    <th>Descripción</th>
                    <th>Prioridad</th>
                    <th>Valor Técnico</th>
                    <th>Valor de Negocio</th>
                    <th>Duración Estimada</th>
                    <th>Estado</th>
                    {#<th>Team Member</th>#}
                    <th>Seleccionar</th>

            </tr>
        </thead>
        <tbody>
                {% for us_no in us_no_aprob%}
    <tr style="border-bottom: 1px solid #ddd; text-align: center" >
        <td>{{ us_no.prioridad_promedio }}</td>
                    <td><span title="{{ us_no.descripcion_completa }}">{{ us_no.descripcion_breve }}</span></td>

    <td>{{ us_no.prioridad }}</td>
    <td>{{ us_no.valor_tecnico }}</td>
    <td>{{ us_no.valor_negocio }}</td>
        <td>{{ us_no.tiempo_finalizacion }}</td>
         <td style="color: red">
        Iniciado<br>
             <iframe src="/us/horas/{{ us_no.id }}" style="border:none; height: 34px; width: 247px"></iframe>
    </td>
{#    <td>{{ us.usuario }}</td>#}
     {% if is_scrum %}
    <td style="padding-top: 10px">{#<a href="/us/add/{{ us.id }}">Añadir al Tablero</a>#}
            <a style="padding-bottom: 10px" href="/us/a_sprint/{{ proyecto.id }}/{{ us_no.id }}" target="_parent">Añadir a Sprint Backlog</a>
        <!--<p><a href="/us/modificar/{{ us_no.id }}" target="_parent">Modificar User Story</a></p>
        <p><a style="padding-bottom: 10px" href="/us/eliminar/{{ us_no.id }}" target="_parent">Eliminar User Story</a></p>-->
        {% endif %}
    </td>
    </tr>
{% endfor %}




{% for no_l in us_no_llegaron%}
    <tr style="border-bottom: 1px solid #ddd; text-align: center" >
        <td>{{ no_l.prioridad_promedio }}</td>
                    <td><span title="{{ no_l.descripcion_completa }}">{{ no_l.descripcion_breve }}</span></td>

    <td>{{ no_l.prioridad }}</td>
    <td>{{ no_l.valor_tecnico }}</td>
    <td>{{ no_l.valor_negocio }}</td>
    <td>{{ no_l.tiempo_finalizacion }}</td>
    <td style="color: red">
        Iniciado<br>
        <iframe src="/us/horas/{{ no_l.id }}" style="border:none; height: 34px; width: 247px"></iframe>
    </td>
{#    <td>{{ us.usuario }}</td>#}
        {% if is_scrum %}
    <td style="padding-top: 10px">{#<a href="/us/add/{{ us.id }}">Añadir al Tablero</a>#}
            <a style="padding-bottom: 10px" href="/us/a_sprint/{{ proyecto.id }}/{{ no_l.id }}" target="_parent">Añadir a Sprint Backlog</a>
        <!--<p><a href="/us/modificar/{{ no_l.id }}" target="_parent">Modificar User Story</a></p>
        <p><a style="padding-bottom: 10px" href="/us/eliminar/{{ no_l.id }}" target="_parent">Eliminar User Story</a></p>-->
        {% endif %}
    </td>
    </tr>
{% endfor %}



    {% for us in uss%}
    <tr style="border-bottom: 1px solid #ddd; text-align: center" >
        <td>{{ us.prioridad_promedio }}</td>
                    <td><span title="{{ us.descripcion_completa }}">{{ us.descripcion_breve }}</span></td>

    <td>{{ us.prioridad }}</td>
    <td>{{ us.valor_tecnico }}</td>
    <td>{{ us.valor_negocio }}</td>
        <td>{{ us.tiempo_finalizacion }}</td>
         <td>
        {% if us.estado == 0 %}
        No iniciado
        {% else %}
        Iniciado<br>
            <iframe src="/us/horas/{{ us.id }}" style="border:none; height: 34px; width: 247px"></iframe>
        {% endif %}
    </td>
{#    <td>{{ us.usuario }}</td>#}
     {% if is_scrum %}
    <td style="padding-top: 10px">{#<a href="/us/add/{{ us.id }}">Añadir al Tablero</a>#}
            <a style="padding-bottom: 10px" href="/us/a_sprint/{{ proyecto.id }}/{{ us.id }}" target="_parent">Añadir a Sprint Backlog</a>
        <!--<p><a href="/us/modificar/{{ no_l.id }}" target="_parent">Modificar User Story</a></p>
        <p><a style="padding-bottom: 10px" href="/us/eliminar/{{ us.id }}" target="_parent">Eliminar User Story</a></p>-->
        {% endif %}
    </td>
    </tr>
{% endfor %}


        </tbody>      
</table>

{% comment %}
<div align="center">
<input type="button" class="btn btn-success"
                       
                       value="Cerrar"
                       onclick="closeMe()">
</div>
<script>
function closeMe()
{
    window.opener = self;
    window.close();
}
</script>
{% endcomment %}


<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"\ integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4\
    YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/\
    JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>