{% extends 'base.html' %}
{% block title %}SGPA | Reporte Sprint{% endblock title %}



{% block content %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        $("#btnPrint").live("click", function () {
            var divContents = $("#dvContainer").html();
            var printWindow = window.open('', '', 'height=400,width=800');
            printWindow.document.write('<html><head><title>SGPA (Sistema de Gestion de Proyectos Agiles)</title>');
            printWindow.document.write('</head><body >');
            printWindow.document.write(divContents);
            printWindow.document.write('</body></html>');
            printWindow.document.close();
            printWindow.print();
            printWindow.close();
        });
    </script>
<div class="jumbotron">

        <form id="form1">
                <div id="dvContainer">
            
            {% if sprint.estado == 'ACT' %}
            <h3 >Sprint Backlog<a style="padding-left: 5px;font-size: small "><b>Duración en días del Sprint: {{ dias }} días.
                Capacidad total del Sprint:</b> {{ cant_horas }}
             horas.</a><a style="font-size: small;color: red"> Capacidad restante: {{ mensaje }}</a></h3>
            {% else %}
                <h3>Sprint Backlog</h3>
            {% endif %}
            
            <table class="table table-striped">
                <thead style="background-color:#1c87c9; color:#fff;">
                    <tr>
                            <th>Prioridad Promedio</th>
                            <th>Descripción</th>
                            <th>Prioridad</th>
                            <th>Valor Técnico</th>
                            <th>Valor de Negocio</th>
                            <th>Duración Estimada</th>
                            <th>Estado</th>
                            <th>Team Member</th>
                            <th>Tipo de US</th>

                    </tr>
                </thead>
                <tbody>

                        {% for us in uss%}
                        <tr style="border-bottom: 1px solid #ddd; text-align: center" >
                            <td>{{ us.prioridad_promedio }}</td>
                                        <td><span title="{{ us.descripcion_completa }}">{{ us.descripcion_breve }}</span></td>
                    
                        <td>{{ us.prioridad }}</td>
                        <td>{{ us.valor_tecnico }}</td>
                        <td>{{ us.valor_negocio }}</td>
                            <td>{{ us.tiempo_finalizacion }}</td>
                             <td>
                            {% if us.estado == 0 %}
                            No iniciado
                            {% else %}
                            Iniciado<br>
                                <iframe src="/us/horas/{{ us.id }}" style="border:none; height: 34px; width: 247px"></iframe>
                            {% endif %}
                        </td>
                        <td>{{ us.usuario }}</td>
                        <td>{{ us.tablero }}</td>
                        </tr>
                    {% endfor %}

                </tbody>
            
               
            </table>
            <br>
                </div></form>
            <div align="center"> <input class="btn btn-info" type="button" value="Guardar como PDF" id="btnPrint" />
                <a  class="btn btn-danger" href="/us/reportesprint/{{ proyecto.id }}">Volver</a>

            </div>

    </div>
{% endblock content %}