{% extends 'base.html' %}
{% block title %}SGPA | Reporte de Product Backlog{% endblock title %}



{% block content %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $("#btnPrint").live("click", function () {
        var divContents = $("#dvContainer").html();
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write('<html><head><title>SGPA (Sistema de Gestion de Proyectos Agiles)</title>');
        printWindow.document.write('</head><body >');
        printWindow.document.write(divContents);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        printWindow.print();
        printWindow.close();
    });
</script>
<div class="jumbotron">
        <form id="form1">
        <div id="dvContainer">
        {% if hay_sprint %}
    <h3>Sprint Backlog<a style="padding-left: 5px;font-size: small "><b>Duración en días del Sprint: {{ dias }} días.
        Capacidad total del Sprint:</b> {{ cant_horas }}
     horas.</a><a style="font-size: small;color: red"> Capacidad restante: {{ mensaje }}</a></h3>
    <table class="table table-striped">
        <thead style="background-color:#1c87c9; color:#fff;">
            <tr>
                    <th>Prioridad Promedio</th>
                    <th>Descripción</th>
                    <th>Prioridad</th>
                    <th>Valor Técnico</th>
                    <th>Valor de Negocio</th>
                    <th>Duración Estimada</th>
                    <th>Estado</th>
                    <th>Team Member</th>
                    <th>Tipo de US</th>

            </tr>
        </thead>
        <tbody>
                {% for us in uss%}
                <tr style="border-bottom: 1px solid #ddd; text-align: center" >
                    <td>{{ us.prioridad_promedio }}</td>
                                <td><span title="{{ us.descripcion_completa }}">{{ us.descripcion_breve }}</span></td>
            
                <td>{{ us.prioridad }}</td>
                <td>{{ us.valor_tecnico }}</td>
                <td>{{ us.valor_negocio }}</td>
                    <td>{{ us.tiempo_finalizacion }}</td>
                     <td>
                    {% if us.estado == 0 %}
                    No iniciado
                    {% else %}
                    Iniciado
                    {% endif %}
                </td>
                <td>{{ us.usuario }}</td>
                <td>{{ us.tablero }}</td>
                </tr>
            {% endfor %}

        </tbody>
    
    
        
    </table>
    <br>
    {% endif %}
    <h3>Product Backlog</h3>
        {% if us_no_aprob or  us_no_llegaron or uss2 %}
        <table class="table table-striped">
            <thead style="background-color:#1c87c9; color:#fff;">
                <tr>
                        <th>Prioridad Promedio</th>
                        <th>Descripción</th>
                        <th>Prioridad</th>
                        <th>Valor Técnico</th>
                        <th>Valor de Negocio</th>
                        <th>Duración Estimada</th>
                        <th>Estado</th>
                        {#<th>Team Member</th>#}
                </tr>
            </thead>
            <tbody>
                    {% for no_aprob in us_no_aprob%}
                    <tr style="border-bottom: 1px solid #ddd; text-align: center" >
                        <td>{{ no_aprob.prioridad_promedio }}</td>
                                    <td><span title="{{ no_aprob.descripcion_completa }}">{{ no_aprob.descripcion_breve }}</span></td>
                
                    <td>{{ no_aprob.prioridad }}</td>
                    <td>{{ no_aprob.valor_tecnico }}</td>
                    <td>{{ no_aprob.valor_negocio }}</td>
                    <td>{{ no_aprob.tiempo_finalizacion }}</td>
                    <td style="color: red">
                        Iniciado
                    </td>
                {#    <td>{{ us.usuario }}</td>#}
                    </td>
                    </tr>
                {% endfor %}
                 {% for no_l in us_no_llegaron%}
                    <tr style="border-bottom: 1px solid #ddd; text-align: center" >
                        <td>{{ no_l.prioridad_promedio }}</td>
                                    <td><span title="{{ no_l.descripcion_completa }}">{{ no_l.descripcion_breve }}</span></td>
                
                    <td>{{ no_l.prioridad }}</td>
                    <td>{{ no_l.valor_tecnico }}</td>
                    <td>{{ no_l.valor_negocio }}</td>
                    <td>{{ no_l.tiempo_finalizacion }}</td>
                    <td style="color: red">
                        Iniciado
                    </td>
                {#    <td>{{ us.usuario }}</td>#}
                    </td>
                    </tr>
                {% endfor %}
                
                    {% for us in uss2%}
                    <tr style="border-bottom: 1px solid #ddd; text-align: center" >
                        <td>{{ us.prioridad_promedio }}</td>
                                    <td><span title="{{ us.descripcion_completa }}">{{ us.descripcion_breve }}</span></td>
                
                    <td>{{ us.prioridad }}</td>
                    <td>{{ us.valor_tecnico }}</td>
                    <td>{{ us.valor_negocio }}</td>
                    <td>{{ us.tiempo_finalizacion }}</td>
                    <td>
                        {% if us.estado == 0 %}
                        No iniciado
                        {% else %}
                        Iniciado
                        {% endif %}
                    </td>
                {#    <td>{{ us.usuario }}</td>#}
                
                    </td>
                    </tr>
                {% endfor %}

            </tbody>


        </table>
    
    {% else %}
            <a style="color: red;">No existe ningún User Story en el Product Backlog</a>
        {% endif %}
            <br>
    <h3>User Stories Finalizados</h3>
        {% if long_3 > 0 %}
    <table class="table table-striped">
        <thead style="background-color:#1c87c9; color:#fff;">
            <tr>
                    <th>Prioridad Promedio</th>
                    <th>Descripción</th>
                    <th>Prioridad</th>
                    <th>Valor Técnico</th>
                    <th>Valor de Negocio</th>
                    <th>Duración Estimada</th>
                    <th>Duración Real</th>
                    {#<th>Team Member</th>#}
                    <th>Tipo de US</th>

            </tr>
        </thead>
    
        <tbody>
                {% for us,tiempo in uss3 %}
                <tr style="border-bottom: 1px solid #ddd; text-align: center" >
                    <td>{{ us.prioridad_promedio }}</td>
                                <td><span title="{{ us.descripcion_completa }}">{{ us.descripcion_breve }}</span></td>
            
                <td>{{ us.prioridad }}</td>
                <td>{{ us.valor_tecnico }}</td>
                <td>{{ us.valor_negocio }}</td>
                    <td>{{ us.tiempo_finalizacion }}</td>
                     <td>
                         {{ tiempo }}
                </td>
            {#    <td>{{ us.usuario }}</td>#}
                <td>{{ us.tablero }}</td>
                </tr>
            {% endfor %}

        </tbody>
    
        
    </table>
        {% else %}
            <a style="color: red;">No se finalizó ningún User Story hasta el momento</a>
        {% endif %}
            <br>
    </div>
        <div align="center"> 
            <input  class="btn btn-info" type="button" value="Guardar como PDF" id="btnPrint" />
            <a class="btn btn-warning" href="/proyecto/trabajo/{{ proyecto.id }}" >Volver a {{ proyecto.nombre  }}</a>

        
        </div>

    </form>


</div>
{% endblock content %}