{% extends 'base.html' %}
{% block title %}SGPA | Reporte Sprint{% endblock title %}

{% block content %}
<div class="jumbotron">

        <h3>Sprints del Proyecto <i>{{ sprint.proyecto }}</i></h3><br>

        <table class="table table-striped" >
            <thead style="background-color:#1c87c9; color:#fff;">
                <tr>
                        <th>Fecha de Inicio</th>
                        <th>Fecha de Finalización</th>
                        <th>Fecha de Finalización Estimada</th>
                        <th>User Stories</th>
                        <th>Estado</th>
                        <th>Generar Reporte</th>

                </tr>
            </thead>
            <tbody>
                    {% for sprint,mensaje in sprints %}
            <tr style="border-bottom: 1px solid #ddd; text-align: center" >
                <td>{{ sprint.fecha_ini }}</td>
            {% if sprint.fecha_fin %}
                <td>{{ sprint.fecha_fin }}</td>
                {% else %}
                <td><a style="color: red">Aún Activo</a> </td>
                {% endif %}
            <td>{{ sprint.fecha_fin_est }}</td>
            <td>{{ mensaje }}</td>
            {% if sprint.estado == 'TER' %}
            <td>Terminado</td>
            {% elif sprint.estado == 'ACT' %}
            <td>Activo</td>
            {% endif %}
            <td><a href="/us/reportesprint2/{{ sprint.id }}">Generar Reporte</a> </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
                <a class="btn btn-warning" href="/proyecto/trabajo/{{ proyecto.id }}">Volver a {{ proyecto.nombre  }}</a>
        </div>
</div>
{% endblock content %}