<!DOCTYPE html>
<html lang="en">
        <head>
                <!-- Required meta tags -->
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, \
                initial-scale=1, shrink-to-fit=no">
            
                <!--FONT AWESOME-->
            
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
            
            
            
                 <!-- Google Font -->
                 <link href="https://fonts.googleapis.com/css?family=Poppins"rel="stylesheet">
                  
            
            
                <!-- Bootstrap CSS -->
                <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
                  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            
                <title>{% block title %}Sprint Backlog{% endblock title %}</title>
              </head>
<body class="jumbotron">
        <style>
                body {
                  font-family: 'Poppins', serif;
                }
                </style>

<h3 >Sprint Backlog <a style="padding-left: 5px;font-size: small "><b>Duración en días del Sprint: {{ dias }} días.
    Capacidad total del Sprint:</b> {{ cant_horas }}
 horas.</a><a style="font-size: small;color: red"> Capacidad restante: {{ mensaje }}</a></h3>

<table class="table table-striped">
    <thead style="background-color:#1c87c9; color:#fff;">
        <tr>
                <th>Prioridad Promedio</th>
                <th>Descripción</th>
                <th>Prioridad</th>
                <th>Valor Técnico</th>
                <th>Valor de Negocio</th>
                <th>Duración Estimada</th>
                <th >Estado</th>
                <th>Team Member</th>
                <th>Tipo de US</th>
                {#    <th>Eliminar</th>#}

        </tr>
    </thead>
    <tbody>

            {% for us in uss%}
        {% if us.tablero %}
    <tr style="border-bottom: 1px solid #ddd; text-align: center" >
        <td>{{ us.prioridad_promedio }}</td>
                    <td><span title="{{ us.descripcion_completa }}">{{ us.descripcion_breve }}</span></td>

    <td>{{ us.prioridad }}</td>
    <td>{{ us.valor_tecnico }}</td>
    <td>{{ us.valor_negocio }}</td>
        <td>{{ us.tiempo_finalizacion }}</td>
         <td>
        {% if us.estado == 0 %}
        No iniciado
        {% else %}
        Iniciado<br>
            <iframe src="/us/horas/{{ us.id }}" style="border:none; height: 34px; width: 247px"></iframe>
        {% endif %}
    </td>
    <td>{{ us.usuario }}</td>
    <td>{{ us.tablero }}</td>
    {% comment %}<td style="padding-top: 10px">
            <a style="padding-bottom: 10px" href="/us/a_product/{{ proyecto.id }}/{{ us.id }}" target="_parent">Eliminar del Sprint Backlog</a>
    </td>{% endcomment %}
    </tr>
        {% endif %}
{% endfor %}

    </tbody>


    
</table>


<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"\ integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4\
    YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/\
    JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>