{% extends 'base.html' %}



{% block title %}Sprint Backlog{% endblock title %}

{% block content %}
<div class="jumbotron">

        <h3 >Sprint Backlog<a style="padding-left: 5px;font-size: small "><b>Duración en días del Sprint: {{ dias }} días.
                Capacidad total del Sprint:</b> {{ cant_horas }}
             horas.</a><a style="font-size: small;color: red"> Capacidad restante: {{ mensaje }}</a></h3>
            
            <table class="table table-striped" style="width:100%;  border-collapse: collapse;padding: 15px; border-bottom: 1px solid #ddd;">
            
                    <thead style="background-color:#1c87c9; color:#fff;">
                        <tr>
                            <th>Prioridad Promedio</th>
                            <th>Descripción</th>
                            <th>Prioridad</th>
                            <th>Valor Técnico</th>
                            <th>Valor de Negocio</th>
                            <th>Duración Estimada</th>
                            <th>Estado</th>
                            <th>Team Member</th>
                            <th>Tipo de US</th>
                        </tr>
                    </thead>
                    <tbody>

                            {% for us in uss%}
                            <tr style="border-bottom: 1px solid #ddd; text-align: center" >
                            <td>{{ us.prioridad_promedio }}</td>
                            <td><span title="{{ us.descripcion_completa }}">{{ us.descripcion_breve }}</span></td>
            
                            <td>{{ us.prioridad }}</td>
                            <td>{{ us.valor_tecnico }}</td>
                            <td>{{ us.valor_negocio }}</td>
                            <td>{{ us.tiempo_finalizacion }}</td>
                            <td>
                                {% if us.estado == 0 %}
                                    No iniciado
                                    {% else %}
                                    Iniciado<br>
                                     <iframe src="/us/horas/{{ us.id }}" style="border:none; height: 34px; width: 247px"></iframe>
                                {% endif %}
                            </td>
                         <td>{{ us.usuario }}</td>
                         <td>{{ us.tablero }}</td>
                    </tr>
                        {% endfor %}

                </tbody>
            
            </table>
            <br>
            <div align="center">
            <input type="button" class="btn btn-danger"
                                   
                                   value="Cerrar"
                                   onclick="closeMe()">
            </div>
            <script>
            function closeMe()
            {
                window.opener = self;
                window.close();
            }
            </script>



</div>
{% endblock content %}