{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}User Story{% endblock title %}

{% block content %}
<div class="jumbotron">

        <div>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
        </div>

        <h1 class="text-danger" align="center">User Story:  {{ us }}</h1>
<b>Descripción Completa: </b>{{ us.descripcion_completa }}<br>
<b>Tiempo Estimado de Finalización: </b>{{ us.tiempo_finalizacion }}<br>
<b>Prioridad Promedio: </b>{{ us.prioridad_promedio }}<br>
<b>Valor de Negocio: </b>{{ us.valor_negocio }}<br>
<b>Prioridad: </b>{{ us.prioridad }}<br>
<b>Valor Técnico: </b>{{ us.valor_tecnico }}<br>
<b>Fecha de Creación: </b>{{ us.fecha_creacion }}<br>
{% if us.sprint.estado == 'ACT' %}
<b>Usuario Encargado: </b>{{ us.usuario }}<br>
{% else %}
<b>User Story no pertenece al Sprint Activo</b>
{% endif %}

{% if usuario == us.usuario and us.sprint.estado == 'ACT' %}
<br><h2 class="text-danger">Adjuntar Archivo</h2><br>


  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success" type="submit" name="archivo" >Guardar archivo</button>
  </form>


<br><h2 class="text-danger">Adjuntar Nota</h2><br>

    <form method="post">
        {% csrf_token %}
        {{ form2|crispy }}
        <button class="btn btn-success" type="submit" value="{{ form2.nota }}">Adjuntar Nota</button>
     </form>


{% endif %}

<br><h2 class="text-danger">Listar Archivos Adjuntos</h2><br>
<table class="table table-striped">

    <tr>
    <th>Título</th>
    <th>Fecha</th>
    <th>Nombre del Archivo</th>
    <th>Usuario</th>
</tr>


{% for archivo in archivos %}
<tr>
    <td>{{ archivo }}</td>
    <td>{{ archivo.fecha }}</td>
    <td><a  href="/media/{{ archivo.archivo }}">{{ archivo.archivo }}</a></td>
    <td>{{ archivo.usuario }}</td>
</tr>
{% endfor %}

</table>

<br><h2 class="text-danger">Listar Notas Adjuntas</h2><br>
<table class="table table-striped">
<tr>
    <th>Nota</th>
    <th>Fecha</th>
    <th>Usuario</th>
</tr>
{% for nota in notas %}
<tr>
    <td>{{ nota }}</td>
    <td>{{ nota.fecha }}</td>
    <td>{{ nota.usuario }}</td>
</tr>
{% endfor %}
</table>

<br><h4 class="text-danger">Cambios de Estado</h4><br>
<table class="table table-striped">
<tr>
    <th>Observacion</th>
    <th>Tiempo</th>
    <th>Acción en el Tipo de User Story</th>
    <th>Fase Anterior</th>
    <th>Estado Anterior</th>
    <th>Usuario Encargado</th>
    <th>Fecha</th>
</tr>
{% for daily in dailys %}
<tr>
    <td>{{ daily.daily }}</td>
    <td>{{ daily.tiempo }}</td>
    {% if daily.avanza %}
        <td>Avanzar</td>
        {% else %}
        <td>Retroceder</td>
    {% endif %}
    <td>{{ daily.fase }}</td>
    {% if daily.estado == 1 %}
        <td>To Do</td>
{% elif daily.estado == 2 %}
<td>Doing</td>
{% elif daily.estado == 3 %}
<td>Done</td>
{% endif %}
<td>{{ daily.usuario }}</td>
<td>{{ daily.fecha }}</td>
</tr>
{% endfor %}
</table>

<br>
Tiempo Real Trabajado: <b>{{ tiempo }}</b>
<br><br>
<div class="text-right">
<input type="button" class="btn btn-danger"
                       style="font-weight: bold;display: inline;"
                       value="Cerrar"
                       onclick="closeMe()">
<script>
function closeMe()
{
    window.opener = self;
    window.close();
}
</script>
</div>

</div>


{% endblock content %}













































































