{% extends "admin/change_form.html" %}
{% load i18n %}

{% block form_top %}
  {% if not is_popup %}
    <p>{% trans "Primero, ingrese un nombre de usuario y contraseña. Entonces, podrás editar más opciones de usuario." %}</p>
  {% else %}
    <p>{% trans "Ingrese username y password." %}</p>
  {% endif %}
{% endblock %}