{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}SGPA | Crear Fase{% endblock title %}

{% block content %}
<div class="jumbotron">
        
        <h1 align="center">Administracion de Tipo de User Stories</h1>

        <nav>
            <a href="/menu"><i class="fas fa-home"></i> Inicio</a> |
            <a href="/usuario"><i class="fas fa-users"></i> Usuarios</a> |
            <a href="/rol"><i class="fas fa-user-tag"></i> Roles</a> |
            <a href="/proyecto"><i class="fas fa-tasks"></i> Proyectos</a>
          </nav>
              <br>
              
          
          <h4 class="text-danger">Crear Fases para el Tipo de User Story "{{ tablero }}" del Proyecto "{{ tablero.proyecto }}"</h4>
          
          <div>
          {% if messages %}
          <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
          </ul>
          {% endif %}
          </div>
          
          <p>¿Desea crear una nueva fase para para el Tipo {{ tablero }}?</p>
          <a href="/tablero/crearfase/{{ pk }}" class="btn btn-warning" title="Crear nueva fase al final del Tipo de User Story">Crear nueva fase</a>
          <a class="btn btn-success ml-2" href="/tablero/ver/{{ tablero.id }}">Ya estoy listo</a>
        
</div>
{% endblock content %}















































<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Fase</title>
</head>
<body>

<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
<nav>
<a href="/menu">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
   <a style="color: #ff6c29" href="/menu">Inicio</a> >
    <a style="color: #ff6c29">Tipo de User Story</a> >
    <a style="color: #ff6c29;">Crear Tipo de US</a> >
        <a style="color: #000;">Crear Fases para Tipos de US</a>
</nav>
</header>

<h2 style="background-color:#B7F4F2">Crear Fases para el Tipo de User Story "{{ tablero }} del Proyecto "{{ tablero.proyecto.id }}""</h2>

<div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>

<p>¿Desea seguir creando fases para el tablero {{ tablero }}?</p>
<a href="/tablero/crearfase/{{ pk }}" style="font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;" title="Crear nueva fase al final del Tipo de User Story">Crear nueva fase</a>
<a style="font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;" href="/tablero/ver/{{ tablero.id }}">No, ya estoy listo</a>
</body>
</html>-->