
{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}SGPA | Tipo de User Stories{% endblock title %}

{% block content %}
<div class="jumbotron">
        
        <h1 align="center">Administracion de Tipos de User Stories</h1>

        <nav>
            <a href="/menu"><i class="fas fa-home"></i> Inicio</a> |
            <a href="/usuario"><i class="fas fa-users"></i> Usuarios</a> |
            <a href="/rol"><i class="fas fa-user-tag"></i> Roles</a> |
            <a href="/proyecto"><i class="fas fa-tasks"></i> Proyectos</a>
            </nav>
                <br>

                <h2 class="text-danger">Crear Tipo de US</h2>
                <br>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
             <button class="btn btn-success ml-2" type="submit">Siguiente</button>
            </form>
                <br>

       <!-- <a href="/tablero/importar/{{ proyecto.id }}"> <i class="fas fa-file-import"></i> Importar Tipo de User Story de otro Proyecto</a>-->


        <br>
            <br>
            
        <h5 align="center"><i class="fas fa-arrow-alt-circle-left" ></i>
            <a href="/proyecto/trabajo/{{ proyecto.id }}"> Volver a Proyecto</a></h5>

        <br>
        
</div>
{% endblock content %}














































<!--!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Tipo de User Story</title>
</head>
<body>

<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
<nav>
<a href="/menu">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu">Inicio</a> >
    <a style="color: #ff6c29" href="/proyecto/trabajo/{{ proyecto.id }}">{{ proyecto }}</a> >
    <a style="color: #000;">Crear Tipo de US</a>
</nav>
</header>

<h2 style="background-color:#B7F4F2">Crear Tipo de US</h2>


  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Crear</button>
  </form>


<a href="/tablero/importar/{{ proyecto.id }}">Importar Tipo de User Story de otro Proyecto</a>

</body>
</html>-->