{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}SGPA | Crear Fase{% endblock title %}

{% block content %}
<div class="jumbotron">
        
        <h1 align="center">Administracion de Tipos de User Stories</h1>
        <nav>
            <a href="/menu"><i class="fas fa-home"></i> Inicio</a> |
            <a href="/usuario"><i class="fas fa-users"></i> Usuarios</a> |
            <a href="/rol"><i class="fas fa-user-tag"></i> Roles</a> |
            <a href="/proyecto"><i class="fas fa-tasks"></i> Proyectos</a>
            </nav>
                <br>
                
            
            <h4 align="center"; class="text-danger">Crear Fases para el Tipo de User Story "{{ tablero }}" del proyecto "{{ proyecto }}"</h4>
            {% if nro_fase == 0 %}<b><font color="#B9770E"><i class="fas fa-exclamation-triangle"></i> Debe crear al menos una fase para el Tipo de User Story</font></b><br><br>{% endif %}
            
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy  }}
                <button type="submit" class="btn btn-success ml-2">Crear</button>
                  {% if nro_fase != 0 %}
              <a href="/tablero/ver/{{ tablero.id }}" class="btn btn-danger" title="No añadir ahora">No añadir ahora</a>
              {% endif %}
              </form>
            
        
</div>
{% endblock content %}





































<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Fase</title>
</head>
<body>

<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
<nav>
<a href="/menu">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu">Inicio</a> >
    <a style="color: #ff6c29">Tipo de User Story</a> >
    <a style="color: #ff6c29;">Crear Tipo de US</a> >
        <a style="color: #000;">Crear Fases para Tipos de US</a>
</nav>
</header>

<h2 style="background-color:#B7F4F2">Crear Fases para el Tipo de User Story "{{ tablero }}" del proyecto "{{ proyecto }}"</h2>
{% if nro_fase == 0 %}<b>Debe crear al menos una fase para el Tipo de User Story</b><br>{% endif %}

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" style="  font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;">Crear</button>
      {% if nro_fase != 0 %}
  <a href="/tablero/ver/{{ tablero.id }}" style="  font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;" title="No añadir ahora">No añadir ahora</a>
  {% endif %}
  </form>




</body>
</html>-->