<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Añadir Fase al Final</title>
</head>
<body>
<h2 style="background-color:#B7F4F2">Crear Fase al final del Tipo de User Story</h2>

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Crear</button>
  </form>

{% endblock %}

<script>
    window.onunload = refreshParent;
    function refreshParent() {
        window.opener.location.reload();
    }
</script>

</body>
</html>