<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Importar Fases</title>
</head>
<body>

<h2 style="background-color:#B7F4F2">Importar Fases</h2>

    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" name=""save>Importar Fases</button>
  </form>

</body>
</html>