{% extends 'base.html' %}

{% block title %}SGPA | Importar Tipo de User Stories{% endblock title %}

{% block content %}
<div class="jumbotron">
        
        <h1 align="center">Administracion de Tipo de User Stories</h1>

        {% if super %}
    <nav>
         <a href="/menu"><i class="fas fa-home"></i> Inicio</a> |
            <a href="/usuario"><i class="fas fa-users"></i> Usuarios</a> |
            <a href="/rol"><i class="fas fa-user-tag"></i> Roles</a> |
            <a href="/proyecto"><i class="fas fa-tasks"></i> Proyectos</a>
</nav>
{% endif %}
    <br>
    <nav style="background-color: white; color: #ff6c29">

        <a href="/proyecto/trabajo/{{ destino.id }}" style="color: #ff6c29;">Proyecto: {{ destino.nombre  }}</a> 
        
</nav>
    </header>

<form action="">

<h2 style="background-color:white">Importar Tipo de User Story</h2>
Seleccione el Proyecto del cual quiere importar el Tipo de User Story: <br><br>

{% for tablero in tableros %}
    <h4><i class="far fa-calendar-check"></i> <a href="/tablero/importar2/{{ destino.id }}/{{ tablero.id }}"><i>{{ tablero }}</i> del proyecto <i>{{ tablero.proyecto }}</i></a></h4>
{% endfor %}

</form>
        
</div>
{% endblock content %}



































<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Importar Tipo de User Story</title>
</head>
<body>

<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
{% if super %}
    <nav>
<a href="/menu/">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
{% endif %}
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu/">Inicio</a> >
        <a href="/proyecto/trabajo/{{ destino.id }}" style="color: #ff6c29;">{{ destino.nombre  }}</a> >
        <a style="color: #000">Importar Tipo de User Story</a>
</nav>
    </header>

<form action="">

<h2 style="background-color:#B7F4F2">Importar Tipo de User Story</h2>
Seleccione el Proyecto del cual quiere importar el Tipo de User Story: <br><br>

{% for tablero in tableros %}
    <h4>✰ <a href="/tablero/importar2/{{ destino.id }}/{{ tablero.id }}"><i>{{ tablero }}</i> del proyecto <i>{{ tablero.proyecto }}</i></a></h4>
{% endfor %}

</form>
</body>
</html>-->