{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %}Modificar Fase{% endblock title %}

{% block content %}
<div class="jumbotron">

    <h2 class="text-danger" align="center">Modificar Fase</h2>

    <form method="post" enctype="multipart/form-data" >
      {% csrf_token %}
      {{ form|crispy }}

      <div class="text-right">
          <button type="submit" class="btn btn-success" >Modificar</button>

      
      
    
    <input type="button" class="btn btn-danger"
                         value="Cerrar"
                         onclick="closeMe()">
  <script>
  function closeMe()
  {
      window.opener = self;
      window.close();
  }
  </script>
  </div>
    </form>
  
  
  
  <script>
      window.onunload = refreshParent;
      function refreshParent() {
          window.opener.location.reload();
      }
  </script>

    
    


</div>


{% endblock content %}







































































