{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}SGPA | Tipo de User Stories{% endblock title %}

{% block content %}
<div class="jumbotron">
        
        <h1 align="center">Administracion de Tipos de User Stories</h1>



        <h2 style="">Modificar Tipo de US</h2><br>


  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-success ml-2">Modificar</button>
   <input type="button" class="btn btn-danger"
                       
                       value="Cerrar"
                       onclick="closeMe()">
<script>
function closeMe()
{
    window.opener = self;
    window.close();
}
</script>
  </form>



<script>
    window.onunload = refreshParent;
    function refreshParent() {
        window.opener.location.reload();
    }
</script>
        
</div>
{% endblock content %}































































<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modificar Tipo de User Story</title>
</head>
<body>

<h2 style="background-color:#B7F4F2">Modificar Tipo de US</h2>


  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" style="font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;">Modificar</button>
   <input type="button" class="btn btn-success"
                       style="  font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;"
                       value="Cerrar"
                       onclick="closeMe()">
<script>
function closeMe()
{
    window.opener = self;
    window.close();
}
</script>
  </form>



<script>
    window.onunload = refreshParent;
    function refreshParent() {
        window.opener.location.reload();
    }
</script>

</body>
</html>-->