{% extends 'base.html' %}

{% block title %}SGPA | Tipo de User Stories{% endblock title %}

{% block content %}
<div class="jumbotron">
        
        <h1 align="center">Administracion de Tipo de User Stories</h1>

        {% if super %}
    <nav>
        <a href="/menu"><i class="fas fa-home"></i> Inicio</a> |
        <a href="/usuario"><i class="fas fa-users"></i> Usuarios</a> |
        <a href="/rol"><i class="fas fa-user-tag"></i> Roles</a> |
        <a href="/proyecto"><i class="fas fa-tasks"></i> Proyectos</a>
</nav>
{% endif %}
    <br>
    <nav color: #ff6c29">
<a style="color: #ff6c29" href="/menu/">Inicio</a> >
    {% comment %}{% if proyectos %}
        {% for proyecto in proyectos.all%}{% endcomment %}
        <a style="color: #ff6c29" href="/proyecto/trabajo/{{ proyecto.id }}">{{ proyecto.nombre  }}</a> >
        <a style="color: #000;">{{ tablero  }}</a>
{% comment %}        {% endfor %}
    {% else %}
        <a style="color: #000;">Error</a>
        {% endif %}{% endcomment %}
</nav>
</header>

<style type="text/css">
        #scrolly{
            width: 96%;
            height: auto;
            overflow: auto;
            overflow-y: hidden;
            margin: 0 auto;
            white-space: nowrap;
            margin-left: 2%;
            margin-right: 2%;
        }
    </style>

<h2>Tipo de User Story: <b>{{ tablero }}</b></h2>

<div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>

<!-- Button trigger modal Para ver Descripcion de Tipo US-->

<div align="right">
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalLong">
  Ver Descripción
</button></div>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Descripción <b>{{ tablero }}</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ tablero.descripcion }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<br>



<div id="scrolly">

<!-- Tablero Kanban-->
<table  class="table table-bordered" style="width: max-content; border-collapse: collapse;padding: 15px; border-bottom: 1px solid #ddd; ">

    <thead style="background-color:#1e0b33; color:#fff;">
            <tr style="height: 28px">
                    {% for fase in fases %}
                        <th colspan="3" style="height:50px; background-color: #00b849;border-left: 2px solid #009a40;border-right:2px solid #009a40;border-bottom: 2px solid #009a40;border-top:2px solid #009a40;"><span title="Fase número: {{ fase.orden }}.
                        Descripción: {{ fase.descripcion }}"><a style="color: #f5f5f5",  href="" onclick="window.open('{% url 'modificar_fase' fase.id %}','{{title}}','height=1000,width=1000');" ><center>{{ fase.nombre }}</center></a></span></th>
                    {% endfor %}
             </tr>
        
    </thead>


        <tr>
         {% for fase in fases %}
             <td style="height:50px; width:150px; background-color: #1556db; text-align: center;border-left: 2px solid #103481;border-right:2px solid #103481;border-bottom: 2px solid #103481;"><b style="color: #f5f5f5">To Do</b></td>
<td style="height:50px; width:150px; background-color: #1556db; text-align: center;border-left: 2px solid #103481;border-right:2px solid #103481;border-bottom: 2px solid #103481;"><b style="color: #f5f5f5">Doing</b></td>
<td style="height:50px; width:150px; background-color: #1556db; text-align: center;border-left: 2px solid #103481;border-right:2px solid #103481;border-bottom: 2px solid #103481;"><b style="color: #f5f5f5">Done</b></td>

        {% endfor %}
        </tr>

    {% for us in uss %}
        {% if us.aprobado != 1 %}
            <tr>
        {% for fase in fases %}
        {% if us.estado == 1 and us.fase == fase %}
            <td style="border-bottom: 2px solid #e6b215;border-left: 2px solid #e6b215; border-right:  2px solid #e6b215;border-top:  2px solid #e6b215; ">
                {% if usuario == us.usuario or is_scrum %}
                <h6 align="center"><a href="" onclick="window.open('{% url 'adjuntar' us.id %}','{{title}}','height=500,width=1000');"
            >{{ us.descripcion_breve }}</a></h6>
                    {% else %}
                    {{ us.descripcion_breve }}
                    {% endif %}
                {% if usuario == us.usuario and us.sprint.estado == 'ACT'%}
            {% comment %}<br><a href="/us/avanzar/{{ us.id }}"><i class="far fa-hand-point-right"></i> Avanzar</a>
            <br><a href="/us/retroceder/{{ us.id }}"><i class="far fa-hand-point-left"></i></i> Retroceder</a>{% endcomment %}
                     <h6 align="center"><a href="/us/daily/{{ us.id }}/1"><button type="button" class="btn btn-success btn-sm">Avanzar</button></a></h6>
                    {% if fase.orden != 1 %}
                    <h6 align="center"><a href="/us/daily/{{ us.id }}/0"><button type="button" class="btn btn-warning btn-sm">Retroceder</button></a></h6>
                        {% endif %}
                {% endif %}


            </td>
                <td></td>
            <td></td>
        {% elif us.estado == 2 and us.fase == fase %}
            <td></td>
            <td style="border-bottom: 2px solid #e6b215;border-left: 2px solid #e6b215; border-right:  2px solid #e6b215;border-top:  2px solid #e6b215; ">
                {% if usuario == us.usuario or is_scrum %}
                <h6 align="center"><a href="" onclick="window.open('{% url 'adjuntar' us.id %}','{{title}}','height=500,width=1000');"
            >{{ us.descripcion_breve }}</a></h6>
                    {% else %}
                    {{ us.descripcion_breve }}
                    {% endif %}
                {% if usuario == us.usuario and us.sprint.estado == 'ACT' %}
            {% comment %}<br><a href="/us/avanzar/{{ us.id }}"><i class="far fa-hand-point-right"></i> Avanzar</a>
            <br><a href="/us/retroceder/{{ us.id }}"><i class="far fa-hand-point-left"></i> Retroceder</a>{% endcomment %}
                    <h6 align="center"><a href="/us/daily/{{ us.id }}/1"><button type="button" class="btn btn-success btn-sm">Avanzar</button></a></h6>
                    <h6 align="center"><a href="/us/daily/{{ us.id }}/0"><button type="button" class="btn btn-warning btn-sm">Retroceder</button></a></h6>
                {% endif %}
            </td>
            <td></td>
        {% elif us.estado == 3 and us.fase == fase %}
            <td></td>
            <td></td>
            <td style="border-bottom: 2px solid #e6b215;border-left: 2px solid #e6b215; border-right:  2px solid #e6b215;border-top:  2px solid #e6b215; ">
                {% if usuario == us.usuario or is_scrum %}
                <h6 align="center"><a href="" onclick="window.open('{% url 'adjuntar' us.id %}','{{title}}','height=500,width=1000');"
            >{{ us.descripcion_breve }}</a></h6>
                    {% else %}
                    {{ us.descripcion_breve }}
                    {% endif %}
                {% if usuario == us.usuario and us.sprint.estado == 'ACT' %}
            {% comment %}<br><a href="/us/avanzar/{{ us.id }}"><i class="far fa-hand-point-right"></i> Avanzar</a>
            <br><a href="/us/retroceder/{{ us.id }}"><i class="far fa-hand-point-left"></i> Retroceder</a>{% endcomment %}
                    {% if fase.orden != cant_fases %}
                     <h6 align="center"><a href="/us/daily/{{ us.id }}/1"><button type="button" class="btn btn-success btn-sm">Avanzar</button></a></h6>
                        {% endif %}
                    <h6 align="center"><a href="/us/daily/{{ us.id }}/0"><button type="button" class="btn btn-warning btn-sm">Retroceder</button></a></h6>
                {% endif %}
            </td>
        {% endif %}
        <td></td>
        <td></td>
        <td></td>
            {% endfor %}
</tr>
        {% endif %}
   {% endfor %}
</table>

</div>
<br>
<div align="center">
{% if is_scrum %}
    <a href="" onclick="window.open('{% url 'modificar_tablero' tablero.id %}','{{title}}','height=600,width=800' );"
   title="Modificar nombre/descripción del Tipo de User Story" class="btn btn-success ml-2">Modificar</a>
    <a href="/tablero/crearfase/{{ tablero.id }}" class="btn btn-danger" title="Añadir fase al final del Tipo de User Story">Añadir Fase al Final</a>
{% endif %}
    <a href="/proyecto/trabajo/{{ proyecto.id }}" class="btn btn-primary" title="Volver al Proyecto">Volver al Proyecto</a>
</div>  
</div>
{% endblock content %}









































































<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tipo de User Story</title>
</head>
<body>

<header style="background-color:#B7F4F2">
    <div style="float: right">{% include 'menu/logout.html' %}</div>
    <h1 align="center">Project Manager</h1>
{% if super %}
    <nav>
<a href="/menu/">Inicio</a> |
    <a href="/usuario">Usuarios</a> |
    <a href="/rol">Roles</a> |
    <a href="/proyecto">Proyectos</a>
</nav>
{% endif %}
    <br>
    <nav style="background-color: #c3fdff; color: #ff6c29">
<a style="color: #ff6c29" href="/menu/">Inicio</a> >
    {% comment %}{% if proyectos %}
        {% for proyecto in proyectos.all%}{% endcomment %}
        <a style="color: #ff6c29" href="/proyecto/trabajo/{{ proyecto.id }}">{{ proyecto.nombre  }}</a> >
        <a style="color: #000;">{{ tablero  }}</a>
{% comment %}        {% endfor %}
    {% else %}
        <a style="color: #000;">Error</a>
        {% endif %}{% endcomment %}
</nav>
</header>

<style type="text/css">
        #scrolly{
            width: 96%;
            height: auto;
            overflow: auto;
            overflow-y: hidden;
            margin: 0 auto;
            white-space: nowrap;
            margin-left: 2%;
            margin-right: 2%;
        }
    </style>

<h2 style="background-color:#B7F4F2">Tipo de User Story: <i>{{ tablero }}</i></h2>

<div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</div>

<div style="border: 2px solid #a6dfdd;
    border-radius: 6px; padding: 10px; margin-left: 6%;margin-right: 6%">
    <b>Descripción: </b> {{ tablero.descripcion }}

</div><br>



<div id="scrolly">


<table style="width: max-content; border-collapse: collapse;padding: 15px; border-bottom: 1px solid #ddd; ">

<tr style="height: 28px">
    {% for fase in fases %}
        <th colspan="3" style="height:50px; background-color: #a6dfdd;border-left: 2px solid #261a3b;border-right:2px solid #261a3b;border-bottom: 2px solid #261a3b;border-top:2px solid #261a3b;"><span title="Fase número: {{ fase.orden }}.
Descripción: {{ fase.descripcion }}"><a href="" onclick="window.open('{% url 'modificar_fase' fase.id %}','{{title}}','height=500,width=500');">{{ fase.nombre }}</a></span></th>
    {% endfor %}
    </tr>

        <tr>
         {% for fase in fases %}
             <td style="height:50px; width:150px; background-color: #a6dfdd; text-align: center;border-left: 2px solid #261a3b;border-right:2px solid #261a3b;border-bottom: 2px solid #261a3b;border-top:2px solid #261a3b;"><b>To Do</b></td>
<td style="height:50px; width:150px; background-color: #B7F4F2; text-align: center;border-left: 2px solid #261a3b;border-right:2px solid #261a3b;border-bottom: 2px solid #261a3b;border-top:2px solid #261a3b;"><b>Doing</b></td>
<td style="height:50px; width:150px; background-color: #c3fdff; text-align: center;border-left: 2px solid #261a3b;border-right:2px solid #261a3b;border-bottom: 2px solid #261a3b;border-top:2px solid #261a3b;"><b>Done</b></td>

        {% endfor %}
        </tr>

    {% for us in uss %}
        {% if us.aprobado != 1 %}
            <tr>
        {% for fase in fases %}
        {% if us.estado == 1 and us.fase == fase %}
            <td style="border-bottom: 2px solid #261a3b;border-left: 2px solid #261a3b; border-right:  2px solid #261a3b;border-top:  2px solid #261a3b; ">
                {% if usuario == us.usuario or is_scrum %}
                <a href="" onclick="window.open('{% url 'adjuntar' us.id %}','{{title}}','height=500,width=1000');"
            >{{ us.descripcion_breve }}</a>
                    {% else %}
                    {{ us.descripcion_breve }}
                    {% endif %}
                {% if usuario == us.usuario and us.sprint.estado == 'ACT'%}
            {% comment %}<br><a href="/us/avanzar/{{ us.id }}">⇨ Avanzar</a>
            <br><a href="/us/retroceder/{{ us.id }}">⇦ Retroceder</a>{% endcomment %}
                    <br><a href="/us/daily/{{ us.id }}/1">⇨ Avanzar</a>
                    {% if fase.orden != 1 %}
                    <br><a href="/us/daily/{{ us.id }}/0">⇦ Retroceder</a>
                        {% endif %}
                {% endif %}
            </td>
                <td></td>
            <td></td>
        {% elif us.estado == 2 and us.fase == fase %}
            <td></td>
            <td style="border-bottom: 2px solid #261a3b;border-left: 2px solid #261a3b; border-right:  2px solid #261a3b;border-top:  2px solid #261a3b; ">
                {% if usuario == us.usuario or is_scrum %}
                <a href="" onclick="window.open('{% url 'adjuntar' us.id %}','{{title}}','height=500,width=1000');"
            >{{ us.descripcion_breve }}</a>
                    {% else %}
                    {{ us.descripcion_breve }}
                    {% endif %}
                {% if usuario == us.usuario and us.sprint.estado == 'ACT' %}
            {% comment %}<br><a href="/us/avanzar/{{ us.id }}">⇨ Avanzar</a>
            <br><a href="/us/retroceder/{{ us.id }}">⇦ Retroceder</a>{% endcomment %}
                    <br><a href="/us/daily/{{ us.id }}/1">⇨ Avanzar</a>
                    <br><a href="/us/daily/{{ us.id }}/0">⇦ Retroceder</a>
                {% endif %}
            </td>
            <td></td>
        {% elif us.estado == 3 and us.fase == fase %}
            <td></td>
            <td></td>
            <td style="border-bottom: 2px solid #261a3b;border-left: 2px solid #261a3b; border-right:  2px solid #261a3b;border-top:  2px solid #261a3b; ">
                {% if usuario == us.usuario or is_scrum %}
                <a href="" onclick="window.open('{% url 'adjuntar' us.id %}','{{title}}','height=500,width=1000');"
            >{{ us.descripcion_breve }}</a>
                    {% else %}
                    {{ us.descripcion_breve }}
                    {% endif %}
                {% if usuario == us.usuario and us.sprint.estado == 'ACT' %}
            {% comment %}<br><a href="/us/avanzar/{{ us.id }}">⇨ Avanzar</a>
            <br><a href="/us/retroceder/{{ us.id }}">⇦ Retroceder</a>{% endcomment %}
                    {% if fase.orden != cant_fases %}
                    <br><a href="/us/daily/{{ us.id }}/1">⇨ Avanzar</a>
                        {% endif %}
                    <br><a href="/us/daily/{{ us.id }}/0">⇦ Retroceder</a>
                {% endif %}
            </td>
        {% endif %}
        <td></td>
        <td></td>
        <td></td>
            {% endfor %}
</tr>
        {% endif %}
   {% endfor %}
</table>

</div>
<br>
<div align="center">
{% if is_scrum %}
    <a href="" onclick="window.open('{% url 'modificar_tablero' tablero.id %}','{{title}}','height=500,width=500');" style="font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;" title="Modificar nombre/descripción del Tipo de User Story">Modificar</a>
    <a href="/tablero/crearfase/{{ tablero.id }}" style="  font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;" title="Añadir fase al final del Tipo de User Story">Añadir Fase al Final</a>
{% endif %}
    <a href="/proyecto/trabajo/{{ proyecto.id }}" style="  font: 13px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;" title="Volver al Proyecto">Volver al Proyecto</a>
</div>
</body>
</html>-->