{% extends 'base.html' %}

{% block title %}SGPA | Menu {% endblock title %}

{% block content %}
<div class="jumbotron">
        
        <h1 align="center">Bienvenido al sistema</h1>
        

        <h2 style="background-color:white">Menu Usuario</h2>
    <h3><a href="/usuario/cambiar_passw.html">Cambiar Contraseña</a></h3>
    

    


{% for Proyecto in Proyectos.all %}

    
    <div>
        <p><a href="">{{ Proyecto }}</a><p/>
    </div>
{% endfor %}
       
</div>
{% endblock content %}






