{% extends 'base.html' %}

{% block title %}SGPA | Menu{% endblock title %}

{% block content %}
<div class="jumbotron">
        <h1 align="center ">
            Bienvenido al sistema 
        </h1>
        {% if super %}
        <nav>
        <a href="/menu"><i class="fas fa-home"></i> Inicio</a> |
            <a href="/usuario"><i class="fas fa-users"></i> Usuarios</a> |
            <a href="/rol"><i class="fas fa-user-tag"></i> Roles</a> |
            <a href="/proyecto"><i class="fas fa-tasks"></i> Proyectos</a>
        </nav>
        <br>
            {% endif %}
           
        </header>
        
        <div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            
            <strong> <font color ="green"><p{% if message.tags %} class="{{ message.tags }}"{% endif %}><i class="fas fa-check"></i>  {{ message }}</font></p></strong>
            {% endfor %}
        </ul>
        {% endif %}
        </div>
        
        {% if super %}
            <h2 " style="color:rgba(212,84,34,0.86)">Menú Administrador</h2>
            <p></p><a href="/usuario">Usuarios</a><p>
            <p></p><a href="/rol">Roles</a><p>
            <p></p><a href="/proyecto">Proyectos</a><p>
        {% endif %}
        
        
        <h2  style="color:#902026" >Menú Usuario</h2>
        <p></p><a href="/usuario/visualizar_mio">Ver mi Perfil</a><p>
        <p></p><a href="/usuario/cambiar_passw.html">Cambiar Contraseña</a><p>
        <h3 style="color:#902026" > Mis proyectos</h3>
        


        <div class="list-group" style="margin:20px 0">


                {% for Proyecto in Proyectos %}
            
                <a href="/proyecto/trabajo/{{ Proyecto.id }}/" class="list-group-item list-group-item-action list-group-item-light" style="text-decoration:none" >
                    {{ Proyecto }}
                
                    {% if Proyecto.estado == 'INA' %}
                       <span class="badge badge-secondary badge-pill">Inactivo</span></a>
                        {% comment %}
                    {% else %}
                        <a href="/proyecto/inactivar/{{ Proyecto.id }}/">Inactivar</a> 
                        {% endcomment %}
                    {% endif %} 
                </a>
                {% endfor %}

            </div>



        

        
                






                

            

            
             
        
        
</div>




{% endblock content %}
























